[2019-07-02 14:57] redo1308 opened #1 "Nutriment energy always null"
The productResult doesn't contain nutriment energy info. It's always null value.

[2019-10-05 11:47] PrimaelQuemerais commented on #1
This issue should be fixed now, energy info is now accessible from productResult.product.nutriments.energy

[2019-10-05 14:08] teolemon opened #3 "Enable CI"
We have CI for Open Food Facts to run tests on all repos. It could be nice to enable in the future.

[2020-02-21 20:04] Cantum2 opened #12 "How to get the serving size?"
I pass in the barcode and am of course returned a ProductResult which I can drill through to find the nutriments. However the nutriments are per 100g but I need per serving. How do I obtain the serving size of the product using getProductRaw so I can do the math to get the nutriments per serving as opposed to per 100g?

[2020-02-24 16:30] Grumpf86 opened #14 "error while parsing ingredient percentage"
the ingredient percentage attribute could not be mappend, cause double could not be parsed as int.

Steps to reproduce: start api_test_searchProducts.dart - search by keyword

`package:openfoodfacts/interface/JsonObject.dart 19:7   JsonObject.parseInt
package:openfoodfacts/model/Ingredient.g.dart 14:25    _$IngredientFromJson
package:openfoodfacts/model/Ingredient.dart 22:7       new Ingredient.fr

[2020-03-08 08:32] teolemon opened #15 "notif test"
bla bla

[2020-03-08 08:33] #15 closed

[2020-03-14 17:33] teolemon opened #16 "Fix pub.dev suggestions"
Health suggestions

- [x] Fix lib/interface/JsonObject.dart. (-0.50 points)
Analysis of lib/interface/JsonObject.dart reported 1 hint:
 line 1 col 8: Unused import: 'dart:ffi'.

- [x] Fix lib/openfoodfacts.dart. (-0.50 points)
 Analysis of lib/openfoodfacts.dart reported 1 hint:
line 161 col 25: The declaration '_login' isn't referenced.

- [x] Fix lib/utils/HttpHelper.dart. (-0.50 points)
Analysi

[2020-03-20 18:34] PrimaelQuemerais commented on #12
Thank you for the pull request

[2020-03-20 18:34] #12 closed

[2020-04-04 18:06] tzehe commented on #14
I am facing the same issue. Setting it to double would fix the issue. Are there any objections against that? I am only using this project since today so maybe I misses something. Would be awesome if some maintainer could say something about that.

[2020-04-08 09:00] Grumpf86 commented on #14
parse as double seems to ignore int values for this example
https://world.openfoodfacts.org/api/v0/product/4388860154948.json

number of ingredients: 11
{text: Frischei, bold: true}
{text: Zucker, bold: false}
{text: Palmfett, bold: false}
{text: Weizenmehl, bold: true}
{text: Lupinenmehl, bold: true}
{text: Magermilchpulver, bold: true}
{text: Speisesalz, bold: false}
{text: Rapsöl, bold: false}

[2020-06-19 17:06] peterwvj commented on #14
I'm experiencing this as well. Any progress on this issue?

[2020-06-20 19:53] peterwvj commented on #14
This issue seems to show up sporadically but often. How come is that? Is there a workaround?@Grumpf86

[2020-06-23 06:46] Grumpf86 commented on #14
I will try to fix it this week and make the mapping robust against JSON "type-safety".

If I remember this issue correctly, the underlying problem was the synchronization of "ingredient_text" and the "ingredient" objects. I will remove this fragile logic. A reliable mapping is not possible with the given data.

After the fix the result of "ingredients" wont have a name anymore. (cause the api is n

[2020-06-23 06:56] Grumpf86 commented on #14
To query the german api does not provide german text:
https://de.openfoodfacts.org/api/v0/product/737628064502.json

`{"has_sub_ingredients":"yes","percent_min":7.69230769230769,**"text":"Noodle"**,"rank":1,"percent_max":100,"id":"en:noodle"},`

[2020-06-25 08:56] Grumpf86 commented on #14
I fixed the error and just released a new version 0.3.3. containing that fix.
-> ingredient percentage will be parsed as double.

The ingredient objects still contain the text in the requested language, cause the server is providing this information now. :)
Notice: that the ingredient text may contain underscores for bold ingredients like "_water_"

[2020-06-25 08:56] #14 closed

[2020-06-26 14:47] peterwvj commented on #14
Thanks a lot for looking into this. I'll try to upgrade the new version and give it a try :)

[2020-06-26 15:19] peterwvj commented on #14
Hi @Grumpf86 after upgrading to 0.3.3 or 0.3.4 all my searches seem to break. Here's the stacktrace:

![search](https://user-images.githubusercontent.com/5388919/85871683-0c423400-b7cf-11ea-8051-3531a4536810.png)

[code]

Here's the relevant part of the code I believe

[code]
Hope this helps.

[2020-06-26 15:49] Grumpf86 commented on #14
Hey @peterwvj  thanks for the information :)
Please use the version 0.3.3. meanwhile - it contains the ingredient percentage fix and the search tests succeed.

@PrimaelQuemerais something went wrong with version 0.3.4. there is a problem with the product search as Peter mentioned and I can confirm, the product search tests are failing for this version.

I will open an issue.

[2020-06-26 15:52] PrimaelQuemerais commented on #14
Oops sorry, I thought I ran all the tests.
I'll take a look into it

[2020-06-26 15:55] Grumpf86 opened #27 "search functionality broken (Json mapping)"
all the search tests are failing with an error message like this:

`_CastError (type 'int' is not a subtype of type 'String' in type cast)
#0      _$ProductFromJson (package:openfoodfacts/model/Product.g.dart:39:47)
#1      new Product.fromJson (package:openfoodfacts/model/Product.dart:132:7)
#2      _$SearchResultFromJson.<anonymous closure> (package:openfoodfacts/model/SearchResult.g.dart:17:40)

[2020-06-26 15:56] peterwvj commented on #14
Thanks for the quick response. Yes, I can confirm that 0.3.3 works as expected.

[2020-06-26 16:00] Grumpf86 commented on #14
here is the issue: https://github.com/openfoodfacts/openfoodfacts-dart/issues/27

@PrimaelQuemerais no problem, I wish you success :)

[2020-06-28 13:59] PrimaelQuemerais commented on #27
Fixed in 0.3.5

[2020-06-28 13:59] #27 closed

[2020-07-05 19:18] peterwvj opened #30 "Problem constructing products from json"
I'm experiencing an issue with the way products are constructed from JSON. The issue can be demonstrated using the following test, which currently fails, but which I'd expect to pass. I'm using `openfoodfacts: 0.3.5`.

[code]
Test error:
[code]

[2020-07-06 19:37] peterwvj commented on #30
In general I can't convert a `Product` to JSON and then convert it back to a `Product` without running into errors. For this reason I cannot easily persist a `Product`object (writing it to a file) and then later reconstruct the `Product` object from that file.

[2020-07-07 16:44] peterwvj opened #31 "The test files are not named according to the recommended convention"
The test files are not named according to the recommended convention. In consequence the tests do not run when you execute `flutter test`. Example:
[code]
Solution/suggestion: rename the test as follows:

[code]
I'm at this commit:  21df57e

[2020-07-07 17:18] peterwvj opened #32 "10 out of 20 tests fail"
After renaming the tests according according to the recommended conventions (see #31), I find that 10 of them fail.

The tests:

[code]

Executing the tests:

[code]
The tests are noisy too, i.e. they generate a lot of console output, which is should be avoided.

The complete test log:

<details>
<summary>Test log</summary>
<p>

[code]

[2020-07-10 16:39] #30 closed

[2020-07-10 16:39] #31 closed

[2020-07-10 16:39] #32 closed

[2020-07-10 17:13] peterwvj commented on #1
This issue can probably be closed.

[2020-07-10 17:21] peterwvj opened #34 "JSON generation broken"
There is an issue with generation of JSON from `Product` objects. The issue seems to related to product images.

The issue can be demonstrated using the following test:

[code]
This test prduces the following error:
[code]
Hint: the problem seems to be the `selectedImages` defined in the `Product` class. In particular, if you remove the content of this field by setting it to `null` then the JSON i

[2020-07-11 18:26] peterwvj opened #35 "Constructing Product from JSON fails"
I found an issue with construction of `Product` objects from JSON. The issue can be demonstrated using the following test:

[code]
When you execute this test you get the following error:
[code]
The problem is related to the `selectedImages` and `additives` fields in the `Product` class. If you assign these fields to `null` then the test passes:
[code]

[2020-07-12 16:47] PrimaelQuemerais commented on #35
This issue is fixed with version 0.3.6

[2020-07-12 16:47] #35 closed

[2020-07-12 16:47] PrimaelQuemerais commented on #34
This issue is fixed with version 0.3.6
I also added your test to the package

[2020-07-12 16:47] #34 closed

[2020-07-12 16:48] #1 closed

[2020-07-17 11:34] waeldimassi opened #39 "How can I find the "allergens" ?"
Thanks for the great work !!
Quick question, how can I find the allergens from the response ?

[2020-07-17 11:39] PrimaelQuemerais commented on #39
Hi,
Allergens are not supported by the plugin yet. I'll take a look at it in the afternoon 😉

[2020-07-17 13:26] PrimaelQuemerais commented on #39
I've just updated the package to support Allergens (v0.3.7), you can now access allergences through Product.allergens.

Hope that helps

[2020-07-17 13:26] #39 closed

[2020-07-17 14:54] #16 closed

[2020-07-28 11:47] peterwvj opened #42 "The tests break in master"
Three tests are currently failing in the master branch. I'm running the test from this commit fa0950b.

To produce the test errors run
[code]
Relevant output:
[code]
The first two errors are probably just a consequence of changes in the database. So probably the tests should be rewritten in a way to avoid this issue. The last error ("get robotoff ingredient..") is different because the error only

[2020-08-01 21:54] adfaure opened #44 "kcal / kj"
Hello,
is there a reason why the kcal value is not present in the nutriments class?

I saw that one can convert from KJ to kcal.
Is it a better option do to the conversion, or to add this value into the nutriment class to access the value returned by OFF API?

Thank you,
Adrien

[2020-08-02 12:03] PrimaelQuemerais commented on #44
Hi Adrien,
I think the reason why the field is not present in the nutrition class is sometimes the API doesn't return the value in kcal, in the use-case I was working on at the time it made sens to only use the kj field.

Of course we can add the kcal field as it might be usefull for others. Do you want to make a PR ? Otherwise I'll add the field in the next version of the plugin

[2020-08-02 13:30] adfaure commented on #44
Hello, thank you for your reply.
Indeed, it makes sense.

I already did it on a clone,
I'll do a merge request within the day.

[2020-08-02 15:03] PrimaelQuemerais commented on #44
Great! Thank you for helping, I'll merge you'r PR and update the plugin as soon as I can.

[2020-08-02 16:21] PrimaelQuemerais commented on #44
Merged

[2020-08-02 16:21] #44 closed

[2020-08-29 19:54] peterwvj opened #48 "OpenFoodAPIClient.saveProduct fails to transfer nutriments"
I found what seems to be a critical bug in `OpenFoodAPIClient.saveProduct` that prevents nutriments from being saved.

### How to produce

Specify working user credentials and run the following code to add/edit a (real) product to the database:

[code]
Next, look up the product by the barcode by entering https://world.openfoodfacts.org/api/v0/product/7340011364184.json into your browser.

### Expe

[2020-09-02 17:18] peterwvj commented on #48
The body of the request seems to contain the nutriments information:

[code]

[2020-09-03 16:12] peterwvj commented on #48
Stephane has informed me that the new version of the API requires each field be set individually, for example `https://world.openfoodfacts.org/cgi/product_jqm2.pl?code=7340011364184&product_name=Chili+beans&nutriment_fat=0.1&nutriment_fat_unit=g&nutriment_proteins=0.1&nutriment_proteins_unit=g`. So in short, the SDK is not updated to work with the new version of the PBI.

[2020-09-04 16:13] peterwvj commented on #48
Here is a test that could be used to verify a fix:

[code]

[2020-09-13 20:06] peterwvj opened #50 "OpenFoodAPIClient.addProductImage does not work"
I'm trying to use `OpenFoodAPIClient.addProductImage` to upload an image but I keep receiving errors like "field imgupload_front_xx not set" despite following the examples in the documentation. I've tried to change the image fields but without luck so I suspect this to be a problem with the SDK. The problem can be demonstrated using the following test, which fails:

[code]
For testing purposes, he

[2020-09-17 23:01] #50 closed

[2020-12-20 13:23] monsieurtanuki opened #59 "Product class should include ecoscore fields"
We need `Product` to host eco score fields, to be used by "smoothie" for instance.

[2020-12-22 18:37] stephanegigandet opened #60 "Add support to retrieve product attributes, remove harcoded attribute groups names"
See https://wiki.openfoodfacts.org/Product_Attributes  for a description of product attributes.

It looks like @PrimaelQuemerais added some support for product attributes already:
https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/model/AttributeGroups.dart

But we should remove the harcoded names for attribute groups (nutritional_quality, processing, labels etc.): the server will

[2020-12-26 17:02] monsieurtanuki commented on #60
@stephanegigandet Can you assign this issue to me? Anyway I need it for smoothie, and I've somehow already fixed the code.

[2020-12-29 19:25] stephanegigandet opened #62 "Find a better way to handle language specific fields (e.g. product_name, ingredients_text)"
The Product class has fields like:

      this.productName,
      this.productNameDE,
      this.productNameEN,
      this.productNameFR,
      this.brands,
      this.lang,
      this.quantity,
      this.imgSmallUrl,
      this.ingredientsText,
      this.ingredientsTextDE,
      this.ingredientsTextEN,

productNameDE is mapped to the product_name_de field we retrieve from the API.

But in pract

[2021-01-07 23:01] PrimaelQuemerais commented on #62
The fields productNameDE, productNameEN, ... are somehow deprecated since we introduced the OpenFoodFactsLanguage parameter to the queries. The productName field will contain the product name in the specified OpenFoodFactsLanguage.

Do we need to provide a way to retrieve the product name in multiple languages in one query?

[2021-01-07 23:04] PrimaelQuemerais commented on #60
Resolved in #65
Thank you @monsieurtanuki

[2021-01-07 23:04] #60 closed

[2021-01-07 23:05] PrimaelQuemerais commented on #59
Resolved in #57 and #63

[2021-01-07 23:05] #59 closed

[2021-01-07 23:07] PrimaelQuemerais commented on #42
Closing old issue, not relevant anymore

[2021-01-07 23:07] #42 closed

[2021-01-08 15:42] stephanegigandet commented on #62
I wasn't aware of that, maybe we should explicitly mention that they are deprecated and should not be used in new apps.

I will have to look at how the OpenFoodFactsLanguage parameter works.

I don't think so.

[2021-01-08 16:11] PrimaelQuemerais commented on #62
I think I can simply remove them in the next version, the dart dependencies manager will take care of showing the deprecated fields. Also knowing how the `OpenFoodFactsLanguage` is used in the query system I'm pretty sure most developers already use it.

`OpenFoodFactsLanguage` is basically an object version of the languages taxonomy so that developers can access every languages without having to

[2021-01-08 16:11] #62 closed

[2021-01-14 13:41] MohamedFBoussaid opened #66 "novascore is missing from Product"
Tested with openfoodfacts: ^0.3.14+1 dart package, and I was looking for the novascore of the scanned product, but this result is not handled by product.dart.

Maybe adding this info could be helpful.

[2021-01-14 13:46] MohamedFBoussaid opened #67 "Passing a ProductConfiguration without the optional fields is throwing an error"
ProductQueryConfiguration configuration = ProductQueryConfiguration(barcode);

Tested with openfoodfacts: ^0.3.14+1 dart package,
As I want to get all field from all languages I was expecting that doing this is enough:
ProductQueryConfiguration configuration = ProductQueryConfiguration(barcode);

But this throw an exception:
`NoSuchMethodError: The method 'contains' was called on null.
Receiver: n

[2021-01-21 12:38] M123-dev opened #68 "Return images object containing image instead of list of image objects."
The title is a little confusing but what I mean. When I built my app with off integrated. I was very confused because I got the image url, but this photo was very small / pixelated. After a while I found out that a list of images with different sizes was returned.
At the time it's:

`result.product.images[2].url`

It would be much easier to understand to access the image by calling

`result.produc

[2021-01-21 17:25] teolemon opened #69 "[RFC] Support for Open Food Facts variants"
Request for comments:
Is there any way to add support for Open Food Facts variants such as ?

- Open Beauty Facts - https://world.openbeautyfacts.org/
- Open Pet Food Facts - https://world.openpetfoodfacts.org/
- Open Products Facts - https://world.openproductsfacts.org/

Is there a way to do it that would not break existing apps ? Or would we need to clone the package ?

[2021-01-23 10:09] peterwvj opened #70 "Product JSON generation broken due to problem with EcoscoreData"
The Product JSON generation is broken. In particular, the `ecoscore_data` field is not converted into JSON when the `Product.toJson` method is called.

The problem can be demonstrated using the following test, which is expected to pass but currently doesn't with version 0.3.14+1 of the openfoodfacts-dart SDK.

[code]
I expect this to be related to #63. @FredJul do you know what is up?

[2021-01-26 13:14] #70 closed

[2021-01-29 16:59] MohamedFBoussaid commented on #66
The novaScore is already implemented and can be found using : result.product.nutriments.novaGroup
Issue will be closed (cancelled)

[2021-01-29 16:59] #66 closed

[2021-01-29 17:19] stephanegigandet opened #72 "Allow anonymous image uploads (without identification with an OFF account)"
The OFF API, website and apps allow users to upload product photos even if they are not logged in.

In the Flutter package, we currently require an OFF username and password for all edits, including uploading photos. It would be a good thing to remove that restriction.

[2021-01-30 07:55] #72 closed

[2021-01-30 11:10] stephanegigandet opened #76 "Allow setting the cc (country code) field in API queries (product read and search)"
Some values returned by the API depend on the country of the user (e.g. the availability of the Eco-Score product attribute). We currently can set the language code (lc) parameter for the query, but not the country code (cc).

[2021-01-31 15:01] MohamedFBoussaid opened #78 "Use fixed data for the tests"
Today the tests are using products from the OFF DB. And with time those products are getting updated by the community, which lead to instable tests.
Maybe using mock data, a test DB if it existe or a Read-Only products to make the tests stable.

[2021-01-31 16:02] peterwvj commented on #78
I completely agree. I think issue should be fixed before anything else.

[2021-02-01 16:30] stephanegigandet commented on #78
We do have a test database on world.openfoodfacts.net (it needs an extra layer of HTTP authorization with login and password off)

One thing we could do is to require apps to create an instance of OpenFoodApiClient and indicate if they want to use the testing database in the constructor call.

We could then make the static methods normal methods (e.g.   static Future<Status> saveProduct(User user,

[2021-02-01 16:38] stephanegigandet opened #79 "Support new "packaging" image type"
We added a new image type for the packaging information and/or recycling instructions. It works in the same way as the ingredients and nutrition images.

[2021-02-01 16:48] MohamedFBoussaid commented on #78
@stephanegigandet, I guess your proposal is the best way to approach this. It will improve 2 things in once fix. The test package on the openfoodfact-dart, and apps can use it during the developing stage.

[2021-02-01 18:02] #79 closed

[2021-02-03 15:01] #76 closed

[2021-02-04 22:33] MohamedFBoussaid commented on #67
Fixed and merged to the master
https://github.com/openfoodfacts/openfoodfacts-dart/pull/75

[2021-02-04 22:33] #67 closed

[2021-02-05 11:10] MohamedFBoussaid commented on #78
Fixed with the #83. The issue can be closed.

[2021-02-05 11:10] #78 closed

[2021-02-05 11:27] MohamedFBoussaid opened #84 "All the images url are returning https://static.openfoodfacts.org/images/products/"
Whatever the image requested on the PROD query, the returned URL is https://static.openfoodfacts.org/images/products/

This should be fixed on the ImageHelper here:
    return queryType == QueryType.PROD
        ? IMAGE_PROD_URL_BASE
        : IMAGE_TEST_URL_BASE +
            barcodeUrl +
            "/" +
            image.field.value +
            "_" +
            image.language.code +

[2021-02-05 13:20] MohamedFBoussaid commented on #84
Fixed and merged.

[2021-02-05 13:20] #84 closed

[2021-02-05 15:25] peterwvj opened #87 "Clean up test output"
Generally chatty tests/code should be avoided. This issue suggests getting rid of all the print statements in order to improve the test output.

[2021-02-05 16:12] #87 closed

[2021-02-05 16:40] MohamedFBoussaid opened #90 "Improve "Pub Points" on pub.dev"
The current version has the following [score](https://pub.dev/packages/openfoodfacts/score)

![Screenshot 2021-02-05 at 17 38 58](https://user-images.githubusercontent.com/52571029/107062118-3b933780-67d9-11eb-9a3d-fd97d7a9a576.png)

Maybe we can improve the score, by following pub.dev recommandations.

[2021-02-05 18:07] #3 closed

[2021-02-06 14:34] stephanegigandet opened #92 "Remove PnnsGroupQueryConfiguration, use ProductSearchQueryConfiguration instead"
There shouldn't be a need for special classes and methods to make search queries for a specific PNNS group. Those queries can be supported by the normal search queries, by specifying a tag filter on pnns_groups_1 or pnns_groups_2

e.g. https://world.openfoodfacts.org/pnns-group-2/biscuits-and-cakes is the same as https://world.openfoodfacts.org/search?pnns_groups_2_tags=biscuits-and-cakes

I doubt

[2021-02-06 15:06] peterwvj commented on #92
Sounds good. For what it's worth, I don't use this feature. We might even want to bump the major version since this is a breaking change.

[2021-02-06 15:07] monsieurtanuki commented on #92
Probably related: when I see product `4337185662713`, I find the following data very interesting:
[code]
Is it possible to use those data for a search about similar products, and how should we write the filter? (cf. https://github.com/openfoodfacts/smooth-app/issues/23)

PS: I recommend the annotation `@deprecated`

[2021-02-06 15:13] stephanegigandet commented on #92
@monsieurtanuki : the categories_tags correspond to our multilingual and multilevel categories taxonomy. When someone adds a category, we will also all the parents categories. But that taxonomy is very complex: it can be very detailed (very fine categories), some categories have multiple parents etc. So it's a bit difficult to navigate. e.g. try to start at "Snacks" and to go down: https://world.o

[2021-02-06 16:56] monsieurtanuki commented on #92
@stephanegigandet Oh, I don't mean to dismiss PNNS groups and use only categories_tags instead.

The idea was to keep PNNS as is, fix the query as this issue is about, and to introduce another type of search.
No navigation, just: I see a product, I would like to see similar products, I see all the categories it belongs to in `categories_tags`, I select the category that match the desired granulari

[2021-02-07 10:24] teolemon opened #93 "Allow to get ingredient OCR output"
Open Food Facts uses optical character recognition (OCR) to retrieve nutritional data and other information from the product labels.

Process

- [x] Capture the barcode of the product where you want to perform the OCR.
- [x] The Product Opener server software opens the image (process_image=1)
- [x] Product Opener returns a JSON response. Processing is done using Tesseract or Google Cloud Vision (r

[2021-02-07 12:47] MohamedFBoussaid commented on #93
@teolemon, for the id parameter this will be only for ingredients ? (ingredients_en, ingredients_fr, ingredients_de ...) or it can be something else? an if we don't set the ocr_engine parameter this will use automatically the Google Cloud Vision, or it should be specified in all cases?

[2021-02-08 19:09] peterwvj opened #95 "EcoScoreData JSON generation is broken"
There's a problem with converting `EcoScoreData` objects to JSON, which can be demonstrated using the following test, which is expected to pass but currently does not:

[code]

[2021-02-08 19:36] MohamedFBoussaid commented on #93
Implemented with #94

[2021-02-08 19:37] MohamedFBoussaid commented on #93
Closed the issue by mistake.
@teolemon can you please confirm that we can close the issue.
Thanks.

[2021-02-08 19:47] #95 closed

[2021-02-08 19:51] teolemon commented on #93
yes of course

[2021-02-08 19:51] #93 closed

[2021-02-10 11:09] stephanegigandet commented on #90
That's a great idea.

[2021-02-10 22:51] MohamedFBoussaid opened #98 "Update the dependencies on the pubspec.yaml"
Many packages need to be updated with the latest versions.

[2021-02-11 12:34] monsieurtanuki commented on #90
Currently working on the "Pass static analysis" score (for `0.3.15+2`: 20/30)

[2021-02-11 12:38] MohamedFBoussaid commented on #90
Thanks @monsieurtanuki

[2021-02-11 17:35] monsieurtanuki commented on #90
Hi @PrimaelQuemerais!
There's something fishy in your code in `SearchResult.dart` (compared to the generated `SearchResult.g.dart`)
The expected (and previous version) of method `fromJson` is:
[code]
But you changed it months ago, and now `_$SearchResultFromJson(json)` is never called. And its code is slightly different from the current implementation of `factory SearchResult.fromJson(Map<String,

[2021-02-11 17:52] monsieurtanuki commented on #90
Hi @Grumpf!
In `HttpHelper.dart` you use `List<int> fileBytes = await File.fromUri(entry.value).readAsBytes();` to get the content of a `Uri`. Nothing that really shocks me, except that using `File` means using `dart.io`, which prevents developer from using openfoodfacts with flutter _web_. And it costs us 10 points.
I'm sure there's another way to do that; what about this:
[code]
Could you please

[2021-02-11 18:13] monsieurtanuki commented on #90
Well, not everything is clear in my mind now, but we're getting closer to 110 points.

We lose 10 points because of this: ["At least 20% of the public API members contain API documentation."](https://dart.dev/guides/libraries/create-library-packages#documenting-a-library)

And there's something I don't get about `http: ^1.3.0` that we're supposed to support though it's not the stable version... 10

[2021-02-11 18:15] PrimaelQuemerais commented on #90
Hi @monsieurtanuki,
If I recall I had to overwrite the generated factory in order to keep the products in the Json format as well as a list of objects. The json_annotation plugin doesn't allow to use a field multiple times. There is maybe a way to do it but I didn't find it at the time.
Also I can't remember why we had to keep both formats, maybe it is not the case anymore

[2021-02-11 18:32] monsieurtanuki commented on #90
Thank you @PrimaelQuemerais for your answer.
I don't know either why both formats are kept ("for historical reasons"), but anyway it takes space to keep both, given that we can compute the json string from the json structure (the latter being the more interesting version I guess).

I think the correct way out of this would be
* to consider `final List<Product> products` as the only interesting fie

[2021-02-12 15:57] peterwvj commented on #90
The right thing to do would be to get rid of `jsonProducts`. It seems wrong to have it. I noticed that it is being used in `openfoodfacts.dart`. I'm not sure why but it looks odd (I marked the line in the code snippet below):

[code]

[2021-02-12 18:22] monsieurtanuki commented on #90
A zoom on `ProductHelper.addTranslatedFields`:
[code]

The idea seems to be: only if some flags are set (`CATEGORIES_TAGS_TRANSLATED`, `LABELS_TAGS_TRANSLATED`, `ALL`), there's an additional step that computes 2 translated fields (according to the language in parameter) (that we already know when we run the search).
The problem is that we keep the double of the needed space of each Product (around

[2021-02-12 18:49] peterwvj commented on #90
Thanks for looking into this. Yes, that would be much better than storing all the products twice.

[2021-02-12 19:09] monsieurtanuki commented on #90
Of course I could easily add that `Map` in `Product.dart`, but I would do that my way, which means removing the json annotations.

@peterwvj Could you add (and populate) that `Map` with minor changes while keeping the json annotations? Are those annotations flexible enough?

[2021-02-12 19:24] peterwvj commented on #90
Feel free to remove the annotation from `SearchResult`, if you prefer.

[2021-02-12 19:35] monsieurtanuki commented on #90
@peterwvj The action must be more specifically on `Product`, where the categories and their possibly translated labels are. If I only remove the field `SearchResult.jsonProducts` I lose the translations.

[2021-02-12 19:52] peterwvj commented on #90
Okay, thanks for clarifying. `Product.dart` is huge and without `json_serializable` JSON conversion for this class would require a lot of manually written code, I think. I not sure it's worthwhile to be honest.

[2021-02-13 08:23] monsieurtanuki commented on #90
@peterwvj Json annotations are unfortunately:
* not flexible enough for our needs in `Product`
* force us to waste space at runtime (about additional 10Kb per `Product`) (and where I come from it's a lot)
* blur code clarity in `SearchResult`

We'll still enjoy json annotations for other classes, and we'll use what json annotations generated for `Product` in the one-shot transition.

[2021-02-13 08:30] peterwvj commented on #90
That's fine. By all means remove it if everyone else agrees. It's not that I'm a fan of json_serializable I'm just pointing out a significant cost of not using it. I always felt that JSON conversion is a bit awkward in Dart as compared to languages that support reflection.

[2021-02-13 15:26] MohamedFBoussaid opened #101 "Replace the assets images with images from the OFF server"
The assets images on the package are only used for the tests, and this is raising the package memory.
As I solution we can replace those files with "online" images that can be called while the tests are running.

[2021-02-13 15:56] peterwvj commented on #101
Hi @MohamedFBoussaid would it be possible to just add these images in a `test_resources` folder as described here https://stackoverflow.com/questions/45780255/flutter-how-to-load-file-for-testing

If I look `pubspec.yaml` it seems like only `assets/json/` is bundles as an asset so I'm not sure the images are ever bundled.

But maybe I'm missing something.

[code]

[2021-02-13 16:13] MohamedFBoussaid commented on #101
@peterwvj yeah sure I can try that, but I am not sure if this will solve the issue of described by @monsieurtanuki [here](https://github.com/openfoodfacts/openfoodfacts-dart/pull/85#issuecomment-778601433). I forget to mention in the issue descirption that this is not only for the package size, but also to support the web in order to improve the package score on pub.dev

[2021-02-13 16:22] monsieurtanuki commented on #101
@MohamedFBoussaid Could be worth trying what @peterwvj's link suggest, as long as the asset files are kept in the test area and not part of the library delivered to the developers.
I don't think we should care about web or not web *in the tests* either, as long as the "main" library handle both cases.

[2021-02-14 16:03] MohamedFBoussaid commented on #101
tests updated.

[2021-02-14 16:03] #101 closed

[2021-02-14 16:27] teolemon opened #104 "Add support for the new "Image Refresh" API"
Add support for the new "Image Refresh" API

Ensure we can request photo updates for select products to users for images which should be taken or re-taken (because they are too old, or possibly too small / blurry).

https://fr.openfoodfacts.org/api/v0/produit/3483130043180/beurre-cru-a-la-baratte-les-petites-laiteries?fields=images_to_update_fr

It returns a hash of image types + language code (on

[2021-02-14 17:03] teolemon opened #105 "Add support for list queries"
Add support for list queries
Example
https://world.openfoodfacts.dev/products/8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,3330720237255,3608580823513,3700278403936,3302747010029,3608580823490,3250391660995,3760020506605,8722700202387,3330720237330,3535800940005,20000691,3270190127512.json?fields=code,product_name

[2021-02-15 13:39] monsieurtanuki commented on #90
I've just run `pana` on the latest version of the code, and got a score of 90/100. The [current score](https://pub.dev/packages/openfoodfacts/score) on pub.dev is 70/110:
* it looks like with the recent changes we earned 20 points :)
* the probable pub.dev score for the next version is 90/110
* in `pana`, the 10 points we miss is because we don't support null-safety (which is only in beta). I thin

[2021-02-15 15:25] MohamedFBoussaid commented on #90
@monsieurtanuki a great job was done there thanks, and it is a huge improvement for the score.
And for the null safety, I have tried to make the package null safety, but it is too risky like walking on a minefield. When the time comes to move to null safety we should create a internal version that we can test first (I don't if it is possible with pub.dv to have a version with restricted access)

[2021-02-15 16:38] monsieurtanuki commented on #90
I agree with you @MohamedFBoussaid, no rush.
As for the tests of the null-safety version, I think it will be a good opportunity for an improvement of the unit test code on a broader range (if needed). We'll see then.

[2021-02-16 16:48] stephanegigandet commented on #92
@monsieurtanuki Sorry for the late response, I didn't see your last comment. Yes, definitely, the categories_tags can be useful to find similar products. The last one is the most specific.

The query would be something like:

[code]

[2021-02-16 17:00] stephanegigandet opened #107 "Simplify the definition of search queries, remove some unneeded code"
There are a few things that could be simplified / removed from the definition of search queries:

e.g.

      var parameters = <Parameter>[
        const OutputFormat(format: Format.JSON),
        const Page(page: 5),
        const PageSize(size: 10),
        const SearchSimple(active: true),
        const SortBy(option: SortOption.PRODUCT_NAME),
        const TagFilter(
            tagType: "cate

[2021-02-16 17:46] monsieurtanuki commented on #92
Thank you @stephanegigandet! Cf. https://github.com/openfoodfacts/smooth-app/pull/183

[2021-02-23 12:00] monsieurtanuki opened #108 "Move from smoothie: match, ranked product, importance, ..."
cf. https://github.com/openfoodfacts/smooth-app/issues/140

[2021-02-28 08:22] M123-dev commented on #90
I just updated the packages to the newest version #98.
If I haven't missed any, all the packages we use already support null safet. That means we are ready for the first test.🎉

[2021-02-28 12:31] #98 closed

[2021-02-28 14:17] stephanegigandet opened #111 "Add urls for selected ingredients, nutrition, and packaging images (small + medium size)"
We currently have this in Product.json

  @JsonKey(name: 'image_small_url', includeIfNull: false)
  String imgSmallUrl;

Which corresponds to the image_small_url field. But the API can return also images for ingredients, nutrition and packaging, in small and normal size (e.g. image_ingredients_small_url / image_ingredients_url).

I'd like to add corresponding fields, and also to rename imgSmallUrl

[2021-03-03 20:12] M123-dev opened #113 "Null safety"
Big news. Flutter 2.0.0 has just entered the stable channel.
There are a lot of big changes. 💯
Here all the [release notes](https://flutter.dev/docs/development/tools/sdk/release-notes) and the [annauncment](https://medium.com/flutter/whats-new-in-flutter-2-0-fe8e95ecc65).

The most important thing for the package, null safety, is now also stable. As I already noted in #90 , all packages we use ar

[2021-03-03 23:21] MohamedFBoussaid commented on #113
@M123-dev The show was interesting, I have already give it a try during the show to migrate to null-safety, but it seems harder then showed.  I will give it a second try to see how it goes.
But they did great job with the dart migrate tool
https://www.youtube.com/watch?v=bvq7wbn4VAA&ab_channel=Flutter

[2021-03-06 17:56] M123-dev commented on #113
@MohamedFBoussaid, how did your second try went

[2021-03-06 18:11] MohamedFBoussaid commented on #113
@M123-dev I will check it tonight and let you know. Didn't get time during the week end

[2021-03-06 18:13] M123-dev commented on #113
No need to rush

[2021-03-06 21:40] MohamedFBoussaid commented on #113
@M123-dev I guess we are blocked till json_serializable release a null safety version

Example of errors that I am getting.
[SEVERE] json_serializable:json_serializable on lib/model/Ingredient.dart (cached):
Generator cannot target libraries that have not been migrated to null-safety.

Let's wait for until build_runner and json_serializable  release null safety version

[2021-03-06 21:52] M123-dev commented on #113
Where did this error occured?
I think this repo will take longer, but they said it should work. https://github.com/google/json_serializable.dart/issues/821#issuecomment-791787354

[2021-03-06 22:19] MohamedFBoussaid commented on #113
I am getting it when I try to generate the g files using :
flutter packages pub run  build_runner build lib --delete-conflicting-outputs

But even using this does not help, I am still getting the errors:
flutter packages pub run --mode=--no-sound-null-safety  build_runner build lib --delete-conflicting-outputs

[2021-03-07 15:39] stephanegigandet commented on #113
Same for me, I can't generate the g files using "flutter packages pub run build_runner build lib --delete-conflicting-outputs" , and I get this error: https://github.com/google/json_serializable.dart/issues/823

[2021-03-07 15:54] M123-dev commented on #113
I am not a core contributor to the plugin. What are the g files for and in which step are they generated?
Is the error message incorrect or can we  just generation either after the migration or beforehand with an older version of build_runner

[2021-03-07 15:55] stephanegigandet commented on #113
files like Product.g.dart are generated from Product.dart with the command "flutter packages pub run build_runner build lib --delete-conflicting-outputs"

I downgraded the packages locally in order to be able to generate the files, as suggested here: https://stackoverflow.com/questions/66477445/generator-cannot-target-libraries-that-have-not-been-migrated-to-null-safety

[2021-03-07 17:08] peterwvj commented on #113
We had to migrate our own code in order to run build_runner. I did that with PR #119 which is still work-in-progress.

[2021-03-07 17:24] peterwvj commented on #113
Now all tests pass with respect to the changes made as part of #119 which is now ready for review.

[2021-03-07 19:06] #113 closed

[2021-03-08 21:05] MohamedFBoussaid commented on #68
@M123-dev do you think this will be solved with @stephanegigandet suggestion here ? https://github.com/openfoodfacts/openfoodfacts-dart/issues/111

[2021-03-08 21:49] M123-dev commented on #68
I think this could solve it. My problem when using this plugin was that it was unclear for me what images are in the product.images list.

It took me a long time to figure out how to get a full-sized one.

[2021-03-08 21:57] MohamedFBoussaid commented on #68
Yeah agree, me too I had to add a layer on my app to make it easier eachtime to get the size and type of image needed.

So once the #111 is solved we can maybe close this one

[2021-03-09 10:59] #111 closed

[2021-03-09 12:04] M123-dev commented on #68
Better now #120 #111

[2021-03-09 12:04] #68 closed

[2021-03-10 10:06] blazern opened #125 "Add vegan and vegetarian status to the Ingredient class"
Hi! :)

When a product is requested from Rest API of OFF, the response contains vegan/vegetarian status for each ingredient of the product.
But the `Ingredient` class from Dart SDK doesn't include the veg-status for some reason.

It seems that adding the fields wouldn't be too hard as Ingredient extends JsonObject and is parsed automatically.

[2021-03-10 11:49] peterwvj commented on #125
Thanks for reporting. Would you be willing to give it a try? :) Seems like a good first issue.

[2021-03-10 16:40] MohamedFBoussaid commented on #125
Thanks @blazern for the contribution.

[2021-03-10 16:49] peterwvj commented on #125
This was fixed with the PR so I'll go ahead and close it.

[2021-03-10 16:49] #125 closed

[2021-03-14 09:54] blazern opened #130 "Enums in IngredientsAnalysisTags.dart don't have the 'unknown' element"
`IngredientsAnalysisTags.dart` currently have next enums:
[code]
Neither of them have an `unknown` element, but the statuses can have such a value:
![image](https://user-images.githubusercontent.com/3338378/111064287-2d18f980-84c4-11eb-8cdc-db8b0ee377ab.png)

Looking at the code, seems like currently the `IngredientsAnalysisTags` structure assigns the `maybe` value to the statuses when an `unknown

[2021-03-14 11:46] M123-dev commented on #130
I understand your thoughts, if the api specifies it as unknown, it would be logical to write it in the enums as well, but does it make such a big difference that it is worth changing it?

Or do you mean that we should use maybe and unknown

[2021-03-14 12:22] teolemon opened #131 "Add support for Autocompleting values"
Getting suggestions for states
https://world.openfoodfacts.org/cgi/suggest.pl?lc=fr&tagtype=states&string=a

Getting suggestions for languages
https://world.openfoodfacts.org/cgi/suggest.pl?lc=fr&tagtype=languages&string=a

Getting suggestions for labels
https://world.openfoodfacts.org/cgi/suggest.pl?lc=fr&tagtype=labels&string=a

Getting suggestions for categories
https://world.openfoodfacts.org/

[2021-03-14 12:32] teolemon opened #132 "Add support for non-detructive value addition"
add_categories
add_labels
add_brands
…

This adds a new value but doesn't delete the previous ones.
 Examples:

https://world.openfoodfacts.net/cgi/product_jqm2.pl?code=0048151621226&user_id=username&password=*****&add_brands=Brand%203

[2021-03-14 12:40] MohamedFBoussaid commented on #132
@teolemon I guess once this implemented I should rollback my changes here ? https://github.com/openfoodfacts/openfoodfacts-dart/pull/128

Otherwise writing labels, categories will saveProduct() will delete the previous values and keep only the last input

[2021-03-14 12:43] M123-dev commented on #131
Would be great for openfoodfacts/smooth-app/issues/147

[2021-03-14 12:49] teolemon opened #133 "Add support for Open Food Facts user creation"
Abstract the HTML form we currently have to enable simple OFF account creation for apps.
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3737

[2021-03-14 12:56] blazern commented on #130
There should be both `maybe` and `unknown` elements.
For example: `enum VeganStatus { IS_VEGAN, IS_NOT_VEGAN, MAYBE, UNKNOWN }`

The difference between `maybe` and `unknown` could be significant for some kinds of applications. For example:
- When a product has `unknown` vegan status, that means that 1+ of its ingredients have unknown vegan status - such ingredients either are not in the `ingredien

[2021-03-14 13:21] teolemon commented on #132
@MohamedFBoussaid What's the current behavior ? We could have both ways, a full replace or a patch solution ?
add_ has some limitations as well (it does not allow for precision editing)

[2021-03-14 15:35] teolemon commented on #131
Also for a future addition mode.

[2021-03-14 17:21] monsieurtanuki commented on #131
@M123-dev For https://github.com/openfoodfacts/smooth-app/issues/147 we would rather need something about "food" itself, I guess. And none of the suggestions is about food name.

[2021-03-14 17:36] M123-dev commented on #131
@monsieurtanuki oh didn't noticed, I would ofc suggest that too if the api allows it

[2021-03-14 20:59] stephanegigandet opened #134 "Image upload is broken - Unhandled Exception: Null check operator used on a null value"
I'm getting this error when I call addProductmage:

2021-03-14 21:58:10.234 3827-4274/org.openfoodfacts.app E/flutter: [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: Null check operator used on a null value
    #0      HttpHelper.doMultipartRequest (package:openfoodfacts/utils/HttpHelper.dart:66:65)
    <asynchronous suspension>
    #1      OpenFoodAPIClient.addProductImage (pac

[2021-03-15 07:59] #134 closed

[2021-03-18 11:28] kiromousa opened #136 "image of the product or nutrient levels is always null or empty list"
Hi everyone! I’m using open food facts api in my flutter app, it works fine and return the product name, but the image of the product or nutrient levels is always null or empty list. e.g: Shiitake Pastete (Barcode: 4104420173194), I can get all the info about this product by the website or open food facts application , but I get this when I use the api :

`(keys are :[code, product_name, brands, l

[2021-03-18 12:03] MohamedFBoussaid commented on #136
Hey @kiromousa can you please share with us the version that you are using? And the code that you are using to get the product details ?
Thanks.

[2021-03-18 13:15] M123-dev commented on #136
@kiromousa the image list itself is very confusing, I would recommend you to use the picture urls from the product, you can then display them. I think its `product.imageFrontUrl`

[2021-03-18 17:20] kiromousa commented on #136
@MohamedFBoussaid

version is : openfoodfacts: ^0.3.15+3
**here is the code:**
`import 'package:auto_size_text/auto_size_text.dart';
import 'package:carousel_slider/carousel_slider.dart';
import 'package:flutter/material.dart';
import 'package:backendless_sdk/backendless_sdk.dart';
import 'package:flutter_custom_clippers/flutter_custom_clippers.dart';
import 'package:prodwirklichkeit/model/Product

[2021-03-18 17:22] kiromousa commented on #136
@MohamedFBoussaid

version is : openfoodfacts: ^0.3.15+3
here is the code:

import 'package:auto_size_text/auto_size_text.dart';
import 'package:carousel_slider/carousel_slider.dart';
import 'package:flutter/material.dart';
import 'package:backendless_sdk/backendless_sdk.dart';
import 'package:flutter_custom_clippers/flutter_custom_clippers.dart';
import 'package:prodwirklichkeit/model/ProductsInf

[2021-03-18 17:39] MohamedFBoussaid commented on #136
@kiromousa first thing that I have notice on your code is :
 ProductQueryConfiguration(barcode,
language: OpenFoodFactsLanguage.ENGLISH, **fields: [ProductField.NAME]**);
Maybe you should change it to **ProductField.IMAGES** or **ProductField.ALL**, otherwise you will get only the name field and the rest will be ignored.

Then for the following values you can change it to:
productIngredients = val

[2021-03-21 18:40] kiromousa commented on #136
@MohamedFBoussaid  thank you very much! everything worked out! i am very grateful to you!

[2021-03-21 18:40] #136 closed

[2021-03-21 19:44] MohamedFBoussaid commented on #136
@kiromousa happy to help !

[2021-03-22 20:31] kiromousa opened #137 "How to get plant-based spreads?"
How to get plant-based spreads in nutrition facts for each nutriment using open food facts dart package?

[2021-03-23 15:57] kiromousa commented on #137
@MohamedFBoussaid can you maybe help, Please?

[2021-03-23 18:09] MohamedFBoussaid commented on #137
@kiromousa what do you mean by plant-based ? Can you give an example from the [OFF API](https://world.openfoodfacts.org/files/api-documentation.html)

[2021-03-23 21:05] kiromousa commented on #137
this what i mean!
https://drive.google.com/file/d/1j1ngNeesOMIQt_KEIV0_bsMounlCXfXO/view?usp=sharing

[2021-03-23 22:43] MohamedFBoussaid commented on #137
I don't have permissions to access the link

[2021-03-24 08:16] kiromousa commented on #137
i am Sorry!! you can see it here: https://ibb.co/NyVXdfH

Thanks Mohamed!!

[2021-03-24 08:57] MohamedFBoussaid commented on #137
Ah no this is not implemented on the package!

[2021-03-25 18:01] kiromousa commented on #137
Ah ok! Just to know, Could this be implemented in the next package update?

[2021-03-28 10:02] monsieurtanuki opened #139 "Add a code example about new classes around match, importance, ..."
cf. #108

[2021-03-28 13:46] stephanegigandet commented on #139
It would be very helpful indeed.

[2021-03-30 14:17] stephanegigandet opened #144 "Rename Uri imageUrl; to Uri imageUri; in SendImage (breaking change)"
the imageUrl parameter for SendImage has confused multiple people. I think we should rename it to imageUri. It is a breaking change, but we should do it sooner rather than later.

[2021-04-01 15:53] M123-dev opened #146 "CI Failing"
1:
[code]

2:
[code]

3:

[code]

Also 3 idk why:

[code]

4:
[code]

[2021-04-01 16:08] monsieurtanuki commented on #146
Hi @M123-dev!
I will fix number 2: I wondered "how could the code be merged" after @stephanegigandet's latest change (`bool` to `enum` for match status).
Perhaps the test part is not tested (haha) for merge incoherences.

[2021-04-01 19:03] #137 closed

[2021-04-02 11:34] stephanegigandet commented on #146
1. is because I made a change on the dev server database (a bad one in fact). But products on the dev server will change, so it's not a very good idea to test for identical results.

[2021-04-03 07:06] blazern opened #149 "Error when uploading an image with Russian language"
![image](https://user-images.githubusercontent.com/3338378/113471304-331b4e00-9464-11eb-83c1-48293a91de76.png)

[2021-04-04 08:01] teolemon opened #151 "no way to save a product with Dart SDK with `product_name_ru` or `ingredients_text_ru`"
Reported on Slack by Danil @blazern

- Seems like currently there's no way to save a product with Dart SDK with `product_name_ru` or `ingredients_text_ru` (only with `product_name` and `ingredients_text`).
- Which causes at least 2 problems:
-- It seems `product_name_en` is filled when `product_name` is filled, so Russian product names are written into `product_name_en` as if they're in English. F

[2021-04-04 12:32] blazern commented on #151
I think it might be a good idea to remove from the Product class all members with lang code postfixes (like `productNameEN`) and for each translatable member add a neighbor-member with `Translated` postfix (some such fields already exist, like `categoriesTagsTranslated`).
So when SDK is asked to get a product with for example Russian translation, both `productName` and `productNameTranslated` woul

[2021-04-06 05:08] #149 closed

[2021-04-07 13:47] blazern commented on #144
Seems this issue can be closed :)

[2021-04-07 16:47] #144 closed

[2021-04-12 13:41] M123-dev commented on #133
@teolemon, do you mean a custom OFF-dart widget or just to the background logic?

[2021-04-12 14:05] teolemon commented on #133
The background logic would already be nice

[2021-04-12 14:06] teolemon commented on #133
We can do the widget in smoothie (or keep it here, unsure if that's something possible in packages)

[2021-04-12 17:06] M123-dev commented on #133
@teolemon, at the time the latest stable is a flutter and the latest beta is a dart/flutter package, but I think its managable to keep the dart support even with flutter functionality.

I am not able to find a documentation about creating or receving user data, is there any?

[2021-04-19 07:41] blazern commented on #151
This issue can be closed now :)

[2021-04-19 07:54] MohamedFBoussaid commented on #151
Issue fixed, closing it based on @blazern request

[2021-04-19 07:54] #151 closed

[2021-04-27 07:56] teolemon opened #155 "Add support to display the HTML Eco-Score methodology"
Explanation of Eco-Score computations
https://world-fr.openfoodfacts.org/api/v0/product/0634065322366.json?fields=environment_infocard,ecoscore_grade
HTML explanation. You can get the localized version by changing world-fr into world-de

The layout of explanation is still expected to change, so using this HTML version is a safer solution for most cases, since it can be remotely updated and transla

[2021-05-02 15:10] peterwvj opened #157 "addProductImage is broken"
When I try to upload an image in the following way:
[code]
... I get the following response:
[code]
This used to work. I haven't looked into the issue yet, but I suspect that the API has changed somehow.

[2021-05-02 15:12] peterwvj commented on #157
According to the Write API docmentation `imgupload_front_en` is not a field

[2021-05-02 15:30] #146 closed

[2021-05-02 16:11] peterwvj commented on #157
Thinking about this it might just be that `OpenFoodFactsLanguage.UNKNOWN_LANGUAGE` is not accounted for anymore and looking into the `SendImage` class it seems like not defining the language is fine so I'll try to do just that.

[2021-05-02 17:08] peterwvj commented on #157
Okay so that made it work. I'll go ahead and close this issue.

[2021-05-02 17:08] #157 closed

[2021-05-07 07:42] teolemon opened #158 "Add initial support for the Folksonomy Engine API"
### What
Add initial support for the Folksonomy Engine API (READ/WRITE), which will enable writing and reading custom information on products (like storing taste, franchises, whatever is possible…)
#### For more general info on the folksonomy engine
- https://github.com/openfoodfacts/folksonomy_api
- https://wiki.openfoodfacts.org/Folksonomy_Engine
- https://wiki.openfoodfacts.org/Folksonomy_Engin

[2021-05-22 09:51] teolemon opened #159 "Use the new auth.pl API to see if login was successful"
https://world.openfoodfacts.org/cgi/auth.pl
Use the new auth.pl API to see if login was successful

This endpoint returns status 200 or 403 if the user is authentified, either through the "session" cookie, or with the user_id and password parameters.

[2021-06-09 08:15] blazern opened #162 "Replace &quot; with ""
There's this product: https://ru.openfoodfacts.org/продукт/4650056068491/
It has a word in double quotes in its name: "гренки".

The API replaces double quotes with `&quot;`, which makes sense, because JSON (https://ru.openfoodfacts.org/api/v0/product/4650056068491.json?fields=product_name).

And OFF Dart SDK gives the word with `&quot;` around, which in my opinion does not make sense because SDK

[2021-06-10 07:41] #162 closed

[2021-06-14 14:07] monsieurtanuki commented on #108
Done in #138.

[2021-06-14 14:07] #108 closed

[2021-06-14 14:10] monsieurtanuki commented on #139
Done in #141.

[2021-06-14 14:10] #139 closed

[2021-06-17 10:51] M123-dev opened #165 "searchProducts returns <h1>Software error:</h1>"
### Steps to reproduce:
(This is the config of the test: `api_searchProducts_test.dart`, name; "search products filter additives" )

[code]

Returns:
[code]

Probably caused by some server side changes

[2021-06-21 20:05] christianfl opened #166 "Several nutrients missing"
Hey guys! Thanks for this dart package, it's really helpful. Currently I am developing a food tracking app (with micronutrients) and noticed that several nutrients fields and their units / serving sizes are missing which are there in the API (https://static.openfoodfacts.org/data/data-fields.txt).

- pantothenic-acid_100g
- biotin_100g
- chloride_100g
- chromium_100g
- fluoride_100g
- iodine_100g

[2021-06-24 10:47] M123-dev commented on #159
Implemented in #167

[2021-06-24 10:47] #159 closed

[2021-06-25 10:27] Florian-Schoenherr opened #170 "Multiple Model Classes missing?"
using `openfoodfacts: ^0.3.15+3`
using flutter, `sdk: ">=2.12.0 <3.0.0"`

I get this (copied from one of the examples):
![missing ProductResult etc](https://user-images.githubusercontent.com/65456722/123411054-4f84dd80-d5b0-11eb-9d32-0dc1e823b892.png)

[2021-06-25 10:33] Florian-Schoenherr commented on #170
just a guess: should I use the beta version instead? but it seems like the Model Classes should still be available?

[2021-06-25 11:20] MohamedFBoussaid commented on #170
@Florian-Schoenherr thanks for opening the bug. Can you please share the class that have this problem. It is hard to check the issue with a screenshoot.
You can use both version, the beta is the null-safety version, and the ^0.3.15+3 is a non null-safety version.

[2021-06-25 11:53] Florian-Schoenherr commented on #170
![image](https://user-images.githubusercontent.com/65456722/123420830-5580bb80-d5bc-11eb-8dd7-96fabec8f227.png)
I only have these model classes available.
So there are quite a few missing, don't know which I would need.
Also `TestConstants` seems to be somewhere else?

[2021-06-25 12:16] MohamedFBoussaid commented on #170
@Florian-Schoenherr  the [TestConstants is a helper used for the test](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/test/test_constants.dart), you should not use it in your code, but you can create your own helper based on the TestConstants

[2021-06-25 12:54] blazern commented on #170
In the provided screenshot Florian doesn't have most of the model classes that should be there... for example, the Product and Ingredient classes are gone.
Here's what my model folder looks like:
![image](https://user-images.githubusercontent.com/3338378/123427621-89b0a800-d5cd-11eb-9dba-d2e5ef402fd3.png)

[2021-06-25 13:21] Florian-Schoenherr commented on #170
The github release also includes more stuff, maybe the dart pub dev release broke somehow?
Now that I deleted the `pub.dartlang.org\openfoodfacts-0.3.15+3` folder, it seems to work after running pub get again.

[2021-06-25 16:50] MohamedFBoussaid commented on #170
Thanks @Florian-Schoenherr  for confirming that your problem is solved.
I will close the issue, don't hesitate to come back to us in case of other issue.

[2021-06-25 16:50] #170 closed

[2021-06-30 06:44] monsieurtanuki opened #172 "Null safety and nullable product.barcode's ?"
Unless there are legitimate cases when a product has no barcode, I suggest that we make a small change in https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/model/Product.dart:

`String barcode;`
instead of
`String? barcode;`

[2021-06-30 19:44] peterwvj commented on #172
I'm not aware of any such products but the web site does offer an option to add products without barcodes
![image](https://user-images.githubusercontent.com/5388919/124021847-56668280-d9ec-11eb-959c-2f198647eb32.png)

[2021-06-30 21:03] #133 closed

[2021-07-01 09:16] M123-dev commented on #172
I would say we change it that way, this would make the code much simpler since the barcode is often used as a kind of primary key.

Not directly related, but I know sometimes there are two products with the same barcode, how does this wrapper handle these cases?

[2021-07-01 09:56] monsieurtanuki commented on #172
Perhaps a simple "orange" can be a product without a barcode.
Anyway, if there are cases of products with no barcode let's keep it nullable.

[2021-07-01 10:11] M123-dev commented on #165
Don't know what happend, but works again

[2021-07-01 10:11] #165 closed

[2021-07-01 10:19] M123-dev opened #173 "New release"
The latest release on pub.dev is from the 30.03, lets make a new one.

Also, let's release the new version as latest and not as preversion. Smoothie uses the preversion, there are no bugs and null-safety has been mainstream for a while now.

[2021-07-01 10:56] MohamedFBoussaid commented on #173
@M123-dev can I first please merge #169 (Missing documentation that I need to add)
and I confirm that the perversion is stable and I didn't notice any issue comparing with the non null-safety version

[2021-07-01 11:13] M123-dev commented on #173
No problem, this time makes no difference

[2021-07-01 11:23] MohamedFBoussaid commented on #131
@teolemon The changes were merged to master.
Can we close this issue ?

[2021-07-05 20:01] peterwvj commented on #173
I support this, #169 is merged.

[2021-07-05 20:51] MohamedFBoussaid commented on #173
@peterwvj yes it is merged.
Do you have the rights to release ?
If yes, let's release a new version please.

[2021-07-06 16:03] peterwvj commented on #173
Sure I can do the release. Will someone help with preparing the change log? I think a lot of things were changed since the last release but I haven't had much time to follow along.

[2021-07-07 21:43] M123-dev commented on #173
@peterwvj, I have just gathered all the latest changes, and took the changelogs from the last preview releases. These can perhaps still be shortened.

I summarized the unimportant and internal changes and marked it as code so that no reference is made to each pr.
[code]

[2021-07-08 18:18] peterwvj commented on #173
Thanks. Please have a look at #176

[2021-07-09 14:41] #173 closed

[2021-07-12 12:53] #172 closed

[2021-07-13 09:54] #155 closed

[2021-07-13 15:43] monsieurtanuki commented on #107
Fixed by #180.

[2021-07-13 15:43] #107 closed

[2021-07-13 18:15] monsieurtanuki commented on #92
Fixed by #181.

[2021-07-13 18:15] #92 closed

[2021-07-14 07:05] monsieurtanuki opened #183 "switch/enum/map refactoring"
In the project we have many `enum`s, where each `enum` item is linked to a `String` tag.
Currently the "enum value to String" conversion is typically coded with a `switch` statement.
The code would be more compact and easier to read and maintain if we used `static const Map<MyEnum, String>` instead.

For instance:
[code]
instead of
[code]

Am I missing something important, or should I go on with t

[2021-07-14 09:02] MohamedFBoussaid commented on #183
Thanks @monsieurtanuki this is much cleaner. I guess it is safe to go this way, I am not seeing any reason to block the refactoring.

[2021-07-14 15:39] teolemon commented on #131
yes

[2021-07-14 15:39] #131 closed

[2021-07-15 10:52] monsieurtanuki commented on #166
Hello @christianfl!
Working on it.
Could you please give me some barcodes that are expected to have relevant values for those nutrients? For testing purposes.

[2021-07-15 17:30] christianfl commented on #166
Hey @monsieurtanuki

Thank you really much! Of course, I will provide you with that. But I'm just mildly irritated, could you tell me wether I understand this API fields correctly before?

1. E.g. "vitamin-b12_100g" = how many **g** of Vitamin B12 are there in **100g** of product
2. E.g. "vitamin-b12_unit" and "vitamin-b12_value" are just another representation of 1. Could be e.g. "µg" and "12"
3.

[2021-07-15 18:14] monsieurtanuki commented on #166
@christianfl Honestly I'm not 100% sure, it's the first time I code in that class.

From what I knew before and what I've just tested on https://fr.openfoodfacts.org/produit/5411188115496/soja-milch-alpro and https://fr.openfoodfacts.org/produit/0038900009472/vicks-pure-zzzs-melatonin-gummies-dole, for a product whose serving is 250g:
* `Unit? vitaminB12Unit` (`'vitamin-b12_unit'`) is the typical

[2021-07-15 18:57] christianfl commented on #166
Thanks, that clarified much for me. See the table below for the nutrients I found:

| Nutrient         | nutrient_100g_name    | EAN example   | nutrient_100g (value) | nutrient_unit (value) | nutrient_serving (value) |
|------------------|-----------------------|---------------|---------------------|---------------------|------------------------|
| pantothenic-acid | pantothenic-acid_100g | 50605

[2021-07-16 10:03] monsieurtanuki commented on #166
Thank you @christianfl for the examples from which I populated the tests. Still missing: a product with fluoride data. We'll survive, though.
Done in #186.

[2021-07-16 10:03] #166 closed

[2021-07-18 13:28] teolemon opened #188 "Invalid barcodes blocklist"
Implement the invalid barcodes blocklist

The barcode scanners will return invalid barcodes due to bright reflections, poor lighting, etc…

While those barcodes are theoretically valid EAN-8 barcodes, they are not attributed. We are thus putting in place a server side blacklist of common invalid barcodes, so that the app doesn't return a prompt to add a blacklisted product, or return a result for

[2021-07-18 18:10] monsieurtanuki commented on #48
Fixed by #187.

[2021-07-18 18:10] #48 closed

[2021-07-18 18:16] monsieurtanuki commented on #188
@teolemon Is it always going to be a small list like the current one (11 items), or maybe some day blacklisted items could also be determined with regexp? Instead of a veryyyyyy long list.

[2021-07-19 06:25] teolemon commented on #188
@monsieurtanuki we haven't expanded the list in ages. The idea was to attack the top 50 of invalid barcodes.
The issue with a regex approach is that those barcodes are theoretically valid EAN-8 barcodes. So there's no way to tell them apart.

[2021-07-19 06:41] monsieurtanuki commented on #183
Done by #184.

[2021-07-19 06:41] #183 closed

[2021-07-19 07:39] monsieurtanuki commented on #105
Done in #182.

[2021-07-19 07:39] #105 closed

[2021-07-19 12:21] monsieurtanuki commented on #188
I guess we can handle this like the other json referentials like https://world.openfoodfacts.org/api/v2/preferences?lc=$language and https://world.openfoodfacts.org/api/v2/attribute_groups?lc=$language.

Or if the list doesn't expand that often and stays small, that would make sense to include it as is in OFF-dart, like a simple `static const List<String>`. Instead of a painful and useless server

[2021-07-19 14:08] blazern opened #189 "Test "api_searchProducts_test search products filter additives" fails with timeout"
Test "api_searchProducts_test search products filter additives" fails with timeout:
[code]

Test "api_searchProducts_test search products potatoes products" also fails with timeout:
[code]

[2021-07-20 07:25] teolemon opened #190 "Add the Eco-Score by country API"
Add the ability to request the Eco-Score by country (ecoscore_grade_fr/be/nl/es/de/it)
to support https://github.com/openfoodfacts/api-documentation/issues/18

Add this chunk of documentation as a comment
[code]

[2021-07-20 07:31] teolemon opened #191 "Add an Eco-Score helper"
![image](https://user-images.githubusercontent.com/1689815/126279965-a378a16a-4edc-4eae-9341-29400ad80e73.png)
I specced a system to help 3rd party apps ask for relevant Eco-Score data. How about creating the logic within openfoodfacts-dart so that it can be reused easily ?

https://docs.google.com/document/d/1_5AeofpXbaKY9Rd3eeWmHIrhJE8GiPQ-Mfx1SCvpzME/edit#

A similar system for Eco-Score, and a

[2021-07-20 08:35] teolemon opened #193 "Add a Nutri-Score helper"
Add a Nutri-Score helper to help apps get to the Nutri-Score instantly for their users

![image](https://user-images.githubusercontent.com/1689815/126289174-1217cbdb-59b7-447b-acb3-dbab67877859.png)

https://docs.google.com/document/d/1_Y3tdgB8w3VkL6tXgjzPVmkmFiXsBfy0UfS6Mg3MkLs/edit#heading=h.ftzz6kpf06gw

[2021-07-20 09:18] monsieurtanuki opened #194 "Replace obscure parameter ContainsAdditives with explicit WithoutAdditives"
As far as I've understood things, the current use of `ContainsAdditives` is:
* `ContainsAdditives(filter: true)` means "without additives" (`'&additives=without'`)
* `ContainsAdditives(filter: false)` means "no additive filter at all" (`'&additives='`)

That's a bit confusing.

I suggest to deprecate `ContainsAdditives` and to create a new `Parameter` called `WithoutAdditives` (always `'&additives

[2021-07-20 11:09] monsieurtanuki commented on #189
Fixed by #192.

[2021-07-20 11:09] #189 closed

[2021-07-20 11:22] monsieurtanuki commented on #132
I suggest a new method like this one:
[code]
with `AddableField` being an `enum` (`BRANDS`, `LABELS`, `CATEGORIES`, ...)
That would have no impact on @MohamedFBoussaid's code.
@teolemon Would that suit your needs?

[2021-07-20 15:29] stephanegigandet commented on #194
Sounds good to me.

[2021-07-21 09:59] stephanegigandet opened #196 "Decide on a style guide for the openfoodfacts-dart package"
The Flutter team from Google reviewed the Smoothie (OFF new app written in Flutter) code base, and they had some recommendations to improve it. One of them is to adopt a style guide such as https://dart.dev/guides/language/effective-dart/style or https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo (or to modify an existing one to suit our needs)

You can find the full assessment a

[2021-07-21 11:40] MohamedFBoussaid commented on #196
@stephanegigandet Yeah this will be very helpful

[2021-07-21 12:43] monsieurtanuki commented on #194
Done in #197.

[2021-07-21 12:43] #194 closed

[2021-07-21 13:30] monsieurtanuki commented on #188
I've just implemented the invalid barcode list in #195.
What can be done next? We have no control of how the developer scans and deals with the scanned barcodes, have we?

[2021-07-21 15:09] stephanegigandet opened #198 "New 1.3.0 release"
I'm preparing a 1.3.0 release with the numerous changes from the last 2 weeks. It contains at least one breaking changed (renamed fields).

[2021-07-21 15:14] monsieurtanuki commented on #198
@stephanegigandet Are there issues you would like to be dealt with before 1.3.0?

[2021-07-21 15:21] stephanegigandet commented on #198
@monsieurtanuki I think all current open issues in https://github.com/openfoodfacts/openfoodfacts-dart/issues are for new independent feature requests (and not changes to existing features etc.), so there is nothing that should prevent a new release I think. Is there something you want to be in 1.3.0?

I think it's fine to do frequent releases, so if something else is added in the next few days, I

[2021-07-21 15:24] monsieurtanuki commented on #198
@stephanegigandet No issue in particular, I was just asking. And I hope #90 will be solved as well (I couldn't find a way to compute the score before pub.dev).

[2021-07-21 15:29] stephanegigandet commented on #188
We could send back a special error message for product queries for one of those barcodes I guess. But ideally the best behaviour is for developers to deal with it in their app (essentially discarding scan results that match one of the barcodes).

[2021-07-21 15:36] monsieurtanuki commented on #188
@stephanegigandet Then now it's more about docs and examples than actual code, right?

And I cannot see how to prevent them from accessing those barcodes within OFF-dart: that would mean an extra `InvalidBarcodes` parameter for each method...

Or we stick to my favorite "good enough is good enough" saying, and we do check that inside OFF-dart, with the [`base` version of `InvalidBarcodes`](https:/

[2021-07-21 18:21] #198 closed

[2021-07-22 11:09] monsieurtanuki commented on #90
Version 1.3.0 - still some work to be done for a score of 130/130:

Providing good documentation for libraries, classes, functions, and other API elements improves code readability and helps developers find and use your API. Document at least 20% of the public API elements.

[2021-07-22 11:25] stephanegigandet opened #201 "The new product_name / ingredients_text / categories "in_languages" field break Product.fromJson()"
In Smoothie we save the products as Json and then load them back, but it now fails with version 1.3.0 with the new in languages fields from https://github.com/openfoodfacts/openfoodfacts-dart/pull/185

Discussion in https://github.com/openfoodfacts/smooth-app/pull/442#issuecomment-884819542

I will add a test case in openfoodfacts-dart that exhibits the problem, and @monsieurtanuki said he's worki

[2021-07-22 11:29] monsieurtanuki commented on #201
I don't think there should be a breaking change: the format of what we get from the server did not change, did it?
Or is it rather the fields that we're asking for that are different?

[2021-07-22 11:39] stephanegigandet commented on #201
That's correct, the JSON sent back by the server is exactly the same as before.

But the Dart package's toJson produces a different JSON than what the server returns.

Instead of having product_name_en, product_name_fr etc. they are combined in product_name_in_languages:

{"code":null,"product_name_in_languages":{"en":"Quaker Oats Old Fashioned Oatmeal 18 Ounce Paper Cannister"},"lang":"-","select

[2021-07-22 11:58] monsieurtanuki commented on #201
@stephanegigandet That's the problem, then. It should be the same json format we get from the server and we send to the server. Am I right?

[2021-07-22 12:57] stephanegigandet commented on #201
Right, we currently have a Product.toServerData() function that changes the Product.toJson output to change back the keys to the format used by the server:

[code]

I'm thinking we could do the reverse, we change Product.toJson() to add directly in it the extra processing that is currently in toServerData().

[2021-07-22 13:04] monsieurtanuki commented on #201
@stephanegigandet The thing is that we cannot do exactly what we want because of JsonAnnotation's generated code.
But still, we can still edit code in `Product.dart`:
[code]
Careful that it's not exactly the same return type: `Map<String, String> toServerData()`

[2021-07-22 13:49] stephanegigandet commented on #201
@monsieurtanuki : I made a separate PR to have toJson generate the same JSON as the server, can you take a look at https://github.com/openfoodfacts/openfoodfacts-dart/pull/203 ?

I think it could make sense to merge both:
- your fix will make sure that JSON that has been generated with *_in_languages field can be loaded (I have those JSONs in my Smoothie database now).
- my change will make the sa

[2021-07-22 15:20] monsieurtanuki opened #204 "Refactor all the @deprecated with an explicit message"
cf. @MohamedFBoussaid's comment in #197.

[2021-07-23 05:45] #204 closed

[2021-07-23 13:16] stephanegigandet commented on #201
Reopening as it works for product_name and ingredients_text, but not tags fields like categories and labels that return a list of strings and not just a string.

[2021-07-24 15:33] christianfl opened #208 "Send user agent HTTP header without User parameter"
Hello there!

I would like to conform to: https://wiki.openfoodfacts.org/API/Read and include my App name, version, etc. in the HTTP header when firing request against the API with this dart plugin.

However, I could not find any way to do this. I could only find this pull request but that indicates that one would have to include a user to the request: https://github.com/openfoodfacts/openfoodfact

[2021-07-24 15:53] teolemon commented on #188
I consider this one fixed. Thanks @monsieurtanuki

[2021-07-24 15:53] #188 closed

[2021-07-25 15:23] #201 closed

[2021-07-27 18:01] M123-dev commented on #208
Yeah, we should definitely provide a way to include this.

[2021-07-30 09:20] teolemon opened #210 "Add the new `nutrient order and list` API for edit mode"
### What
- https://github.com/openfoodfacts/api-documentation/issues/21

Nutrient order and list changes based on country:
https://fr.openfoodfacts.org/cgi/nutrients.pl
https://us.openfoodfacts.org/cgi/nutrients.pl
https://us-es.openfoodfacts.org/cgi/nutrients.pl

I had forgotten about this nice API for the edit mode (and potentially for view mode for the nutrition table)
### Part of
- Nutrition e

[2021-08-01 10:12] monsieurtanuki commented on #90
I don't know how `pub.dev` counts the API elements; nevertheless I've roughly counted the number of lines of each file in the Android Studio "structure" tab and found about 1700 - compared to the 1859 indicated by `pub.dev`.

In order to exceed the 20% threshold, I'm going to be lazy and just comment stupidly the languages (186) and the nutrients (170): we should reach around 28% of comments, and

[2021-08-01 13:19] monsieurtanuki commented on #208
I do think you can do that just by specifying `user.comment`, cf. [`HttpHelper`](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/utils/HttpHelper.dart#L107-L110):
[code]

[2021-08-01 13:33] christianfl commented on #208
@monsieurtanuki

So I didn't deep dive into the code yet but would the plugin allow me to create a user object with a random username and password just to specify the user agent in user.comment (odd naming scheme) or would the credentials be submitted (this was my guess).

If that's not possible however, creating an app-wide user which could actually login is not a good idea either...

[2021-08-01 13:40] monsieurtanuki commented on #208
@christianfl Fair enough. I don't know what is planned regarding users.

[2021-08-11 07:21] #208 closed

[2021-08-16 19:41] teolemon opened #215 "Add support for password reset"
Password reset
https://world.openfoodfacts.org/cgi/reset_password.pl

[2021-08-18 10:43] jasmeet0817 opened #216 "Allow clients to pass the country as a parameter request while getting a product's details"
Currently openfoodfacts.dart queries "world.openfoodfacts.org" directly. See here: https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/openfoodfacts.dart#L66

The functionality of the app is quite different depending upon the country from where you are accessing it (specially when it comes to eco score details card display). So this should be configurable in the package.

For testi

[2021-08-18 16:19] M123-dev commented on #216
I am going to add some kind of settings, which should be set once and used everywhere similar to the  User-Agent HTTP Header (#213)
Including:
- All currently hardcoded url hosts
- The QueryType
- A way to overwrite the cc field for debug purposes (to be able to see the eco score from other countries)

Should the User-Agent HTTP Header or maybe something other added as well

[2021-08-19 07:07] monsieurtanuki commented on #216
@M123-dev I was thinking about `static` fields again, indeed like #213.
It should be the same for "country": we should not presume what the country is, but instead let the developer set the correct value (in a `static` field). If "country" is not set, it's going to be "https://world..." as it is now.

[2021-08-19 11:23] jasmeet0817 commented on #216
Are there a set of flags that can be overridden by developers locally? Or static fields that the developer could change in order to have different functional behavior in the app ? Usually we use flags for these things, but I guess static fields are fine for now.

I would encourage adding all fields together in a file (settings.dart?) that a developer can modify to their liking, and clearly documen

[2021-08-19 15:57] teolemon commented on #215
<form method="post" action="/cgi/reset_password.pl" enctype="multipart/form-data">

            <label>
                Username or e-mail address:
                <input type="text" name="userid_or_email">
            </label>

        <input type="hidden" name="action" value="process">
        <input type="hidden" name="type" value="send_email">
        <input type="submit" name=".submit" class=

[2021-08-20 09:43] monsieurtanuki commented on #191
My suggestion would be to:
1. create an `enum` with all the possible message cases (`ProductImprovement`?)
2. for each message case, provide a (default) message in English
1. add a method in `Product` that returns a `List<ProductImprovement>`
2. the developer would then be able to ignore those possible improvements (same as today), to display them with the default English message, or to localize t

[2021-08-20 10:07] teolemon commented on #191
That looks like a rather good plan. I would also try to mutualize translations, or possibly move them to something on the server (a file the plugin could query ?)

[2021-08-20 11:40] monsieurtanuki commented on #191
@teolemon Are you sure about the `'en:labels-to-be-completed'` string?
In the unit tests I could not find a product with something similar. I found something like that for `product.statesTags`:
* en:to-be-completed
* en:nutrition-facts-completed
* en:ingredients-completed
* en:expiration-date-completed
* en:packaging-code-to-be-completed
* en:characteristics-to-be-completed
* en:origins-to-be-comp

[2021-08-23 08:25] teolemon opened #218 "What can I work on ?"
### What

#### Worldwide Eco-Score
- [ ] #216

#### User management
- [ ] #215

#### Road to scores
- [ ] #193
- [ ] #191

#### Editing

- [ ] #132

##### Nutrition
- [ ] #210

#### New APIs
- [ ] #158
- [ ] #104
- [ ] #190
#### Code Health
- [ ] #90
- [ ] #196
#### Support for Open XX Facts
- [ ] #69

[2021-09-02 07:32] stephanegigandet commented on #191
There's no label to be completed state because some products don't have labels.

[2021-09-02 07:51] stephanegigandet commented on #216
Sorry I was on vacations and did not notice this issue before.

API queries should always go to the "world" subdomain, and language and country should be passed in the "cc" (country code) and "lc" (language code) parameter. Queries to subdomains [country code]-[language code].openfoodfacts.org do work today, but should not be encouraged.

[2021-09-02 09:11] stephanegigandet commented on #216
Note that we already do have the "cc" parameter in product query configurations.

[2021-09-02 20:09] monsieurtanuki commented on #191
@stephanegigandet I've just removed `ProductImprovement.LABELS_TO_BE_COMPLETED` from #217.

[2021-09-08 10:46] M123-dev opened #223 "Fix get robotoff questions tests"
The `get robotoff questions`, `get robotoff insights` and `get robotoff ingredient spelling corrections` tests in `api_getRobotoff_test.dart` are currently all skipped because we specified them to do so (skip: 'This Group of tests is unstable'),

We should fix them.

Edit:
The same applies for `answer robotoff question` in `api_postRobotoff_test.dart`

Error when the skip parameter is removed:

[c

[2021-09-12 19:25] peterwvj opened #224 "Nutriments class missing fields used by the write API"
**Describe the bug**
The `Nutriments` class has the field `proteinsUnit` defined, but "carbohydratesUnit" and "fatUnit" are missing. According to https://wiki.openfoodfacts.org/API_Fields the missing fields are used by the write API.

Suggestion: the test added in https://github.com/openfoodfacts/openfoodfacts-dart/pull/187/files could be updated to account for these fields.

**To Reproduce**

Cre

[2021-09-12 22:48] christianfl opened #225 "Create github releases for new releases"
Hey guys! Just an idea, would love if you "implement" that but could also understand when it doesn't fit in your workflow.

As I'm still slowly developing an Open Source food tracker for Android I'm depending on this dart plugin. I would like to get informed for new releases so that I can test and use them for my app - So I'm subscribing to this and other plugins I'm using (with Watch > Custom > R

[2021-09-13 15:05] M123-dev commented on #225
I think that would be a good idea, but then I would directly suggest that we automate the entire release process. I'll have a look at that

[2021-09-14 06:03] #224 closed

[2021-09-15 16:11] #216 closed

[2021-09-16 07:10] monsieurtanuki commented on #191
Product improvements are now computed in `product.getProductImprovements()` (#217).
Beyond the `enum` values, I don't know how the translations are supposed to be integrated, and how.

[2021-09-16 07:11] monsieurtanuki commented on #193
Product improvements are now computed in `product.getProductImprovements()` (#217).
Beyond the `enum` values, I don't know how the translations are supposed to be integrated, and how.

[2021-09-16 11:41] stephanegigandet opened #232 "Update tests so that they do not expect specific values from existing products on openfoodfacts.net, unless they write them first"
We changed the infrastructure that serves the openfoodfacts.net preprod / test server yesterday afternoon, and 13 tests are failing (67 pass).

Initially many more tests were failing because of a slightly different nginx configuration that resulted in URLs like https://world.openfoodfacts.net/api/v0/product/3274080005003.json with ".json" at the end not being served (we could remove the .json from

[2021-09-16 15:52] teolemon opened #233 "Ensure we help people send the right country codes and language codes"
- [ ] Ensure we help people send the right country codes and language codes
  - [ ] Example: UK, GB, UE

[2021-09-17 15:10] monsieurtanuki opened #237 "Deprecate some taxonomized product fields"
The same is true for all taxonomized fields like categories or labels (but not yet brands).

cf. #235 @stephanegigandet

For the moment it should impact product fields `countries`, `categories` and `labels`.

[2021-09-18 22:06] M123-dev commented on #90
We did it, we reached the 130/130 score 🥇

Thanks @monsieurtanuki for your provided mass documentation, we reached a stunning 46.7 % coverage

[2021-09-18 22:06] #90 closed

[2021-09-18 22:18] M123-dev commented on #225
@christianfl, just a quick reminder we published a new version with some big changes yesterday

[2021-09-18 22:34] christianfl commented on #225
@M123-dev Hehe, thank you! This is some first class service. 🥇

[2021-09-19 06:50] monsieurtanuki commented on #90
Wonderful! Well, it took about 8 PRs to go from 80 to 130 points. I guess now we have enough code stability to stay at 130.

[2021-09-19 10:40] monsieurtanuki commented on #190
This is more or less what I've understood:
* on the backend specific ecoscore grades are computed for the following countries: fr/be/nl/es/de/it
* for the moment from flutter we can query `ProductField.ECOSCORE_GRADE`,  `ProductField.ECOSCORE_SCORE` and  `ProductField.ECOSCORE_DATA`
* in the query we're able to specify an optional country

I guess this issue should be fixed rather on the backend e

[2021-09-20 16:52] gspencergoog commented on #232
Sounds like what we need is a test database with values that don't change, or some standard setup that writes a bunch of test data that can be used in tests.

[2021-09-22 18:47] peterwvj opened #241 "API parameter "energy-kj" is not present in the Nutriments class"
**Describe the bug**
The field corresponding to the API parameter "energy-kj" is missing in the `Nutriments` class. According to @stephanegigandet this parameter may be used to set the kJ value for a product

![image](https://user-images.githubusercontent.com/5388919/134402159-37b07d2c-3de0-48c5-b519-9d407c9c6ff9.png)

For comparison, the `Nutriments` class has a "energy-kcal" field:

[code]

So I

[2021-09-25 15:28] peterwvj opened #247 "`saveProduct` provides poor error message for invalid users"
**Describe the bug**

The error message produced when trying to save a product using an invalid user is poor.

The problem is that the SDK always assumes that the API respone is valid JSON, which is not true. See the "Status Codes" part described here:

https://wiki.openfoodfacts.org/API/Write

Problematic part in the SDK:

[code]
This code is located here https://github.com/openfoodfacts/openfood

[2021-09-26 17:51] #247 closed

[2021-09-27 16:26] M123-dev opened #250 "Automated pub.dev auth problems"
I have automated the release of this package in #239 and #245, but there is still a problem. The release asks for a re-authentication.

The link given there opens a google login page and then redirects to a local host which is not reachable because it runs on github actions.

[2021-09-27 16:26] M123-dev commented on #225
Blocked by #250

[2021-09-27 16:37] teolemon commented on #250
@stephanegigandet

[2021-09-27 20:08] peterwvj commented on #250
I think you can run `pub publish` with the `-f` flag to avoid this.

[code]

[2021-09-27 20:10] peterwvj commented on #250
Maybe you'll find this blog helpful https://medium.com/evenbit/publishing-dart-packages-with-github-actions-5240068a2f7d

[2021-10-01 06:45] monsieurtanuki commented on #193
@teolemon Should we provide messages and translations, or are we done now thanks to `enum ProductImprovement` and `product.getProductImprovements()`?
Same question for #191.

[2021-10-05 13:05] #215 closed

[2021-10-06 10:53] teolemon commented on #193
Translations can be done in smoothie @monsieurtanuki

[2021-10-06 11:10] monsieurtanuki commented on #193
Then we can close this issue, can't we? And we should also ping both https://github.com/openfoodfacts/smooth-app/issues/518 and https://github.com/openfoodfacts/smooth-app/issues/519, shouldn't we?

[2021-10-06 16:02] peterwvj commented on #241
Hi @ShriAgashe that's great. Feel free to work on any issue you find interesting.

[2021-10-07 22:29] gspencergoog opened #263 "Rename `TagType` to `TaxonomyType`"
With the new API for reading taxonomies from the server, it's a little unclear what a "tag" is:

The server API takes a "type" field that has the type of taxonomy to fetch, which corresponds to the current values in `TagType` (e.g. "categories", and it also takes a "tags" list which corresponds to the ids of the taxonomy items you want to retrieve (e.g. "en:nuts").

I'd like to rename `TagType` to

[2021-10-08 14:51] #263 closed, assigned to nobody

[2021-10-10 12:30] peterwvj opened #265 "Nutriments JSON conversion bug related to the micro gram units"
**Describe the bug**

JSON serialization of nutriments units is broken for micro grams. Concretely, `Unit.MICRO_G` is not map to any of the valid write API values `'mcg'` or `'µg'` but instead to `'micro-gram'`, which is wrong. This is not a problem when the unit represents grams or milligrams.

**To Reproduce**

Run this test:

[code]

**Expected behavior**
Above test should pass.

**Actual behav

[2021-10-15 08:02] teolemon commented on #233
We discussed that again last evening with @alexgarel and @jasmeet0817 and the consensus seemed to go for a server side fix.
Here's the server side place where it happens: https://github.com/openfoodfacts/openfoodfacts-server/blob/12d65665d997902b6a4850f5c55ba313ed320150/cgi/product_jqm_multilingual.pl#L231

Trying to gather a few more opinions before answering

[2021-10-16 13:24] monsieurtanuki commented on #210
@teolemon Correct me if I'm wrong, but should we rely on the order only, or on the structure of this file?
I'm saying that because `"id": "polyunsaturated-fat"` seems to be under `"id": "butyric-acid"`, which is under `"id": "fat"`.
Is that a bug in this file (as I suspect), and both `"id": "polyunsaturated-fat"` and `"id": "butyric-acid"` should be at the same level, under `"id": "fat"`?

[2021-10-17 10:42] teolemon commented on #210
mmh…here's the canonical structure server side: https://github.com/openfoodfacts/openfoodfacts-server/blob/c71f8bec679c0de005f6ff65f8e3f05ee18a272f/lib/ProductOpener/Food.pm#L480

[2021-10-17 14:49] monsieurtanuki commented on #210
If we focus just on omega3, there's an incoherence between your OP:
[code]
... and the canonical form:
[code]
The order is the same, but the level shouldn't be the same between omega3 and its "children".
Unless we should ignore the levels and just consider the order, but that would be strange.
It looks like a bug in https://fr.openfoodfacts.org/cgi/nutrients.pl

[2021-10-26 08:35] monsieurtanuki opened #282 "Stronger product fetch management"
For single product fetch operations, we only get a product or null.
For the moment we assume that if the result is null, the product is not found, which is not always that simple.

We should introduce granularity for the "null" case, similar to https://github.com/openfoodfacts/smooth-app/pull/630, in order to deal with the following cases (cf. https://github.com/openfoodfacts/smooth-app/blob/devel

[2021-10-29 08:11] #282 closed, assigned to nobody

[2021-11-10 13:54] monsieurtanuki commented on #104
@teolemon The "image refresh" API is now supported, as a brand new product field.
I don't know how close we are currently to what you had in mind; don't hesitate to close this issue or to give additional info about the expected result.

[2021-11-10 14:59] maltemedocs opened #290 "License attribution fulfillment helper"
**Is your feature request related to a problem? Please describe.**
It is hard to fulfill the attribution requirements of the two relevant licenses when working with OFF and this plugin to show product information.

**Describe the solution you'd like**
All relevant meta data in the models + a helper function returning the appropriate default text.

**Describe alternatives you've considered**
I don'

[2021-11-10 15:21] #210 closed

[2021-11-11 08:36] teolemon commented on #104
thats seems good, we can probably implement the rest in Smoothie

[2021-11-13 18:07] monsieurtanuki opened #291 "Confusion with Product field priorities and read/write statuses"
**Describe the bug**
When you save a product
* some product fields seem to have priority over others (e.g. `productNameInLanguages` being more important than `productName`)
* some product fields seem to be computed from other fields and cannot be set directly (e.g. `ingredientsTags` computed from `ingredientsText`)

The problem is not that such priority rules exist, the problem is that they are no

[2021-11-17 09:22] #250 closed

[2021-11-19 19:04] monsieurtanuki commented on #233
@teolemon #292 partially answers this issue, with explicit country codes.
If the issue is more about an implicit country-to-default-language map, that's another story. Even more if this map is dealt with on the server side - what did you guys decide eventually?
Please feel free to close this issue or to add specs.

[2021-11-20 07:49] monsieurtanuki opened #301 "Get localized Open Food Facts product URI"
**Is your feature request related to a problem? Please describe.**
Typical use case: in smoothie we want to open the OFF website on the given barcode page.

**Describe the solution you'd like**
Something like
[code]

**Describe alternatives you've considered**
Currently in smoothie we use `https://openfoodfacts.org/product/7300400481588/`
But here we don't specify the language or the country.
And

[2021-11-27 13:24] teolemon commented on #158
https://pub.dev/packages/openapi_generator

[2021-11-27 15:40] teolemon commented on #301
https://world.openfoodfacts.org/product/5701051301959/galletas-de-mantequilla-y-de-chocolate
https://world-fr.openfoodfacts.org/product/5701051301959/galletas-de-mantequilla-y-de-chocolate
https://world-es.openfoodfacts.org/product/5701051301959/galletas-de-mantequilla-y-de-chocolate
https://fr.openfoodfacts.org/product/5701051301959/galletas-de-mantequilla-y-de-chocolate
https://fr-es.openfoodfac

[2021-11-27 15:41] monsieurtanuki commented on #301
That's perfect @teolemon, I'm working on it!

[2021-11-29 13:15] teolemon opened #304 "Add server-side photo rotation"
### What
Add server-side photo rotation
https://openfoodfacts.github.io/api-documentation/#jump-4WRITERequests-Rotateaphoto

### Part of
- #218

[2021-11-29 13:15] teolemon opened #305 "Add server-side crop a photo"
### What

- Server-side crop a photo
- https://openfoodfacts.github.io/api-documentation/#jump-4WRITERequests-Cropaphoto

### Part of
- #218

[2021-11-29 13:15] teolemon opened #306 "Add Server-side photo unselection"
### What

Add Server-side photo unselection
https://openfoodfacts.github.io/api-documentation/#jump-4WRITERequests-Deselectingaphoto

### Part of
- #218

[2021-11-29 13:42] teolemon opened #307 "Allow for advanced search queries"
Ensure the search.pl route is able to handle all of those parameters and values for tag_N
https://openfoodfacts.github.io/api-documentation/#jump-5Filtering-SEARCHparameters

### List of TagTypes
[code]

[2021-12-04 13:48] monsieurtanuki commented on #301
Done in #302.

[2021-12-04 13:48] #301 closed

[2021-12-04 14:33] monsieurtanuki commented on #306
@teolemon Not very verbose, is it?
![Capture d’écran 2021-12-04 à 15 32 21](https://user-images.githubusercontent.com/11576431/144713265-426abfda-b4e1-4bec-b290-2af8dab87f30.png)

[2021-12-04 14:59] teolemon commented on #306
thanks @monsieurtanuki , filed a documentation task at https://github.com/openfoodfacts/api-documentation/issues/49 with the proper route

[2021-12-04 15:15] monsieurtanuki commented on #305
@teolemon What is `imgid`?
![Capture d’écran 2021-12-04 à 16 15 04](https://user-images.githubusercontent.com/11576431/144714731-4dc821a8-cf0b-4696-8a79-0f56ac328ff9.png)

[2021-12-04 15:17] monsieurtanuki commented on #304
@teolemon Same "what is `imgid`?" question as in #305.

[2021-12-04 15:20] teolemon commented on #305
imgid you can find in the request, it's a unique id assigned to uploaded images, regardless of whether they are selected or not. You apply a rotation to a raw image id, and you place it in id like front_fr (which is a selection)

[2021-12-04 15:21] teolemon commented on #305
https://world.openfoodfacts.org/api/v0/product/3017620422003.json?fields=images

[2021-12-04 15:21] teolemon commented on #304
imgid you can find in the request, it's a unique id assigned to uploaded images, regardless of whether they are selected or not. You apply a rotation to a raw image id, and you place it in id like front_fr (which is a selection)
https://world.openfoodfacts.org/api/v0/product/3017620422003.json?fields=images

[2021-12-04 15:23] teolemon commented on #304
https://world.openfoodfacts.org/product/3760284870115/tiramisu-patissier
https://world.openfoodfacts.org/images/products/376/028/487/0115/1.jpg (1 is imgid)
https://world.openfoodfacts.org/images/products/376/028/487/0115/front_fr.8.full.jpg (front_fr is id, the 8 gets assigned automatically)

[2021-12-04 15:53] monsieurtanuki commented on #304
Thank you @teolemon: the first step is to retrieve `imgid` from the product json into `ProductImage` - which was not the case so far.
I'm working on it...

[2021-12-06 08:17] monsieurtanuki commented on #305
There's probably something wrong in `product_image_crop.pl`, or in the way I expect the parameters to work:
* starting from https://static.openfoodfacts.net/images/products/425/075/220/0784/front_de.264.full.jpg (928x1248 pixels, 210019 bytes)
* and trying to crop it to (`x1=10&y1=10&x2=800&y2=500`) (top half) with https://world.openfoodfacts.net/cgi/product_image_crop.pl?code=4250752200784&id=fro

[2021-12-06 08:31] teolemon commented on #305
If you want to crop again an already cropped image like you do you need to start from the source image, get the current cropping cords if you want to expose them to the user, and apply the new crop Coors to the original image (1.jpg)

[2021-12-06 11:14] teolemon opened #310 "Ensure we don't spam anyone"
- [ ] Ensure we don't spam anyone
- [ ] https://github.com/openfoodfacts/openfoodfacts-dart/pull/94/files#diff-72fd825ad17ce7800a2078e06f0dff1e12836ee59760465e78d9a5d222cebd15R89

[2021-12-06 13:09] monsieurtanuki commented on #305
I've tried from scratch on an existing product that did not have a `front_de` image.
* I added the `front_de` image (https://static.openfoodfacts.net/images/products/301/762/042/2003/front_de.345.full.jpg - it's just a test)
* then tried to crop it (https://world.openfoodfacts.net/cgi/product_image_crop.pl?code=3017620422003&id=front_de&imgid=108&x1=10&y1=10&x2=800&y2=500)
* still didn't crop at a

[2021-12-06 13:17] teolemon commented on #305
https://world.openfoodfacts.net/cgi/product_image_crop.pl?code=3017620422003&id=1&imgid=front_fr&imgid=108&x1=10&y1=10&x2=800&y2=500)

[2021-12-06 17:16] monsieurtanuki commented on #310
@teolemon You mean using one of these guys instead?
[code]

[2021-12-06 17:32] teolemon commented on #310
example.org ?

[2021-12-06 17:47] monsieurtanuki commented on #310
They say "a registered user login for https://world.openfoodfacts.org/ is required".
I don't know the registration process: is an email sent with a confirmation link during the registration?

Actually my own off id is not an email; I guess the email is stored somewhere else. Therefore even `max@off.com` has a (potentially different) email.
How often do you guys send emails: in my case I receive ab

[2021-12-07 11:06] monsieurtanuki commented on #305
I found out what was missing: query parameter `coordinates_image_size=full`. With that parameter the crop coordinates are on the full uploaded image, not its "400-max" version.
I've just committed a code that works!

[2021-12-09 15:58] #304 closed

[2021-12-09 15:58] #305 closed

[2021-12-12 16:45] monsieurtanuki commented on #307
Done by #313.

[2021-12-12 16:45] #307 closed

[2021-12-13 16:30] teolemon opened #318 "api_addProductImage_test.dart failing"
02:58 +63 -4: test/api_addProductImage_test.dart: OpenFoodAPIClient modify product image image crop [E]
  Expected: <50>
    Actual: <400>

  package:test_api                          expect
  test/api_addProductImage_test.dart 195:9  main.<fn>.<fn>

02:58 +63 -4: loading test/api_getTaxonomyLabels_test.dart

[2021-12-13 17:30] monsieurtanuki commented on #318
@teolemon I've just tested again locally, it works.
In that test I crop an image into a [50,300] rectangle. It looks like my crop instruction has priority over the "400 max" rule.
Probably it's just a "bad luck" collision. There would be less collisions if distinct barcodes were used for "image rotation" and "image crop" tests.

[2021-12-14 07:05] #225 closed

[2021-12-14 11:28] monsieurtanuki commented on #306
It looks like https://world.openfoodfacts.net/cgi/product_image_unselect.pl?code=4250752200784&id=ingredients_de from what I read in
* https://github.com/openfoodfacts/openfoodfacts-server/blob/main/cgi/product_image_unselect.pl
* https://github.com/openfoodfacts/openfoodfacts-server/blob/main/lib/ProductOpener/Images.pm

I'm about to PR.

[2021-12-15 07:33] #306 closed

[2021-12-16 14:12] monsieurtanuki commented on #158
@teolemon I've just tried to use `openapi-generator` for Folksonomy.
Actually it generates a whole tree structure (here I asked to generate in `api/folksonomy`):
![Capture d’écran 2021-12-16 à 14 18 16](https://user-images.githubusercontent.com/11576431/146379051-be2a9721-8d1f-4290-8b4b-9a8d9b1889b6.png)

Like a self-contained package. And I don't know how we could integrate that generated code in

[2021-12-16 17:14] monsieurtanuki commented on #158
Other aspect to consider: the rest of the off-dart library is based on "json serializable".
Using both "json serializable" and "openapi generator" on the same project may bring confusion.

Another remark: if folksonomy is actually included in the same project, we'd be better off with another dedicated file (`folksonomy.dart`) rather than `openfoodfacts.dart` and class `OpenFoodAPIClient`.

[2021-12-16 21:51] wu-lee opened #326 "There is a parameter `serving_quantity` with no corresponding `ProductField`"
**Is your feature request related to a problem? Please describe.**

I want to access the `serving_quantity` parameter, which I believe is a numeric value in grams. It is to `serving_size` (a String) what `product_quantity` is to `quantity`: a parsed and normalised numeric version of the string.

However, I can't without being able to request it via an appropriate `ProductField` set in the query, a

[2021-12-17 09:07] teolemon commented on #158
I have no issue making it a separate package. How good is the auto-generated code @monsieurtanuki ?
Also, if it's good, we could completely automate generation using GitHub Actions @M123-dev

[2021-12-17 09:47] monsieurtanuki commented on #158
Hi @teolemon!
Just to be sure: when you say a separate package you mean a separate project/library, or a separate folder inside off-dart?

Anyway, regardless, I can start locally a new project from scratch playing with openapi generator on folksonomy.

So far I could not play with the generated code that much because the code was not null safe compliant, which blocked compilation at an early stage

[2021-12-17 11:04] wu-lee opened #328 "`Product.packagingQuantity` is untyped (dynamic)"
This is only tentatively a bug - but it seems out of line with the rest of the `Product` fields, and I see no indication or comments saying that this is deliberate.

**Describe the bug**

`Product.packagingQuantity` is untyped (dynamic)

**To Reproduce**

Check the source code here:

https://github.com/openfoodfacts/openfoodfacts-dart/blob/5f9447c474e1a8a5ea9dc18233b2df8374c7bd6c/lib/model/Product

[2021-12-17 15:28] wu-lee commented on #326
Just to add that I've tried setting `ProductField.SERVING_SIZE` - this results in `Product.servingSize` being set, but not `Product.servingQuantity`.

As an alternative to a new `ProductField.SERVING_QUANTITY` field as suggested above, possibly it could be that `ProductField.SERVING_SIZE` in the request indicates that both the `servingSize` and `servingQuantity` values should be supplied?

[2021-12-17 16:43] wu-lee commented on #326
A hacky workaround I'm employing, a delegate class, which at least demonstrates that the API supports the `serving_quantity` field, independently of `serving_size`:
[code]

[2021-12-17 17:05] M123-dev commented on #326
I am going to take a look at this

[2021-12-17 17:12] M123-dev commented on #326
It's indeed missing, opening a PR in a sec

[2021-12-18 09:19] M123-dev commented on #158
We should  somehow be able to generate it automatically, the only question is how good the generated code is. Especially something like null-safety is very important and as @monsieurtanuki pointed out there are some problems regarding that.

But yes I also don't think it makes sense to add this to the already big OpenFoodAPIClient. I would suggest that we create a separate package like openfoodfac

[2021-12-18 13:16] teolemon commented on #158
Currently enjoying the aftermath of my 3rd dose of vaccine 😖
@M123-dev @monsieurtanuki Should I create a separate repo ? is `openfoodfacts-folksonomy-dart` as suggested by @M123-dev ok ?

[2021-12-18 14:08] M123-dev commented on #158
Get well @teolemon, hope you feel better soon, let's just wait and see what @monsieurtanuki thinks of the idea and then we'll see.

[2021-12-19 09:49] monsieurtanuki commented on #158
Hi guys! I hope @teolemon you feel better by now.

I've just coded folksonomy client in dart (cf. #332). It was so painful to use openapi generator that I tried to code it myself, and it was so easy that I continued.

I don't know that much about folksonomy and I don't know how relevant it would be to make a separate project, regarding the developers that would use it.

What I can say is:
* it loo

[2021-12-19 12:47] monsieurtanuki commented on #291
Beyond the priority issue but still regarding product fields:
* there are no comments on `Product` fields (neither on `ProductField`s), which is sad
* some fields work in read mode, but not in write mode (e.g. `serving_quantity` from https://github.com/openfoodfacts/openfoodfacts-dart/pull/331#issuecomment-997095375) - that should be dealt with: either fixed (all fields work ok read/write) or with

[2021-12-19 14:07] #328 closed

[2021-12-19 14:09] M123-dev commented on #326
@wu-lee, I added the serving_quantity  in #331 to the ProductField enum. What do you mean by

Is this also solved by #331 or not

[2021-12-19 15:20] monsieurtanuki commented on #326
@wu-lee Correct me if I'm wrong: you expect something like `"en:serving-to-be-completed"` in `"states_tags"` to appear in the product json (e.g. in https://world.openfoodfacts.net/api/v0/product/0028400047685.json?lc=en). A bit like `en:quantity-completed`?
If so I guess it's first something missing on the server side. Once it's done on the server side, we'll be able to integrate that in dart.

[2021-12-20 16:52] M123-dev opened #338 "Code base refactoring"
### Why
The code of the sdk has grown a lot lately and will probably continue to do so, albeit at a slower pace. To keep the code maintainable a few things will probably have to be changed. The things mentioned here are not decided, only ideas and are open for discussion.

### What

- [ ] #232
- [ ] #291
- [ ] Writing completely new documentation
- [ ] Further splitting up of openfoodfacts.dart

[2021-12-20 16:52] wu-lee commented on #326
Thanks yes, exactly.

[2021-12-20 16:53] M123-dev opened #339 "Further splitting up of openfoodfacts.dart"
As said in #158 `openfoodfacts.dart` has gotten really big overtime there therefore we decided (for the time beeing) to code the folksonomy engine API into a separate file.

 I would suggest that we take this even further. Namely that we move the Robotoff methods to a separate file and separate class like `RobotoffApiClient` or so and depending on what the opinions are here do it like most dart pa

[2021-12-20 18:04] peterwvj commented on #339
I fully support this. Even if it requires breaking changes.

[2021-12-20 18:11] monsieurtanuki commented on #339
Currently `openfoodfacts.dart` weighs 1092 lines of code.

Inside this file, there are 6 robotoff methods (200 lines of code).  That means, still 900 lines of code in `openfoodfacts.dart` if we move away robotoff.

I don't know the exact relationships between OFF, robotoff and folksonomy, and if I decided to create a separate file for folksonomy it was because it seemed to me like a satellite proj

[2021-12-20 18:23] monsieurtanuki commented on #158
What's left after #332 are the methods around users and their private data, and the write methods.
Btw the TEST env does not seem to work for folksonomy; I tried `api.folksonomy.openfoodfacts.net` but with no success.

[2021-12-20 18:49] monsieurtanuki commented on #338
To be the biggest issue is with #291. I can add fields to `Product` but I don't know what they're here for, the typical values, what's their unit (if applicable), if they work in READ, in WRITE (https://github.com/openfoodfacts/openfoodfacts-dart/pull/331#issuecomment-997095375), if they are impacted by the states tags (cf. #326). Comments on each field would help, at least in a first approach.

[2021-12-20 19:46] M123-dev commented on #158
I asked in the slack channel

[2021-12-20 19:51] M123-dev commented on #291
I don't think there is a really good way to solve this. Comments are a good idea in any case. If we have a documentation with all fields, this should be included there as well, otherwise we could consider throwing an error in the write methods if fields that can't be written are not null. This however would probably lead to an unpleasant developer expierence.

[2021-12-20 20:09] M123-dev commented on #339
I would even wait a little longer with the breaking changes. That is, until we have finished most of the restructuring, which hopefully won't take that long. Then we can remove all other pending deprecated fields directly with it.

I understand your point @monsieurtanuki but somehow Robotoff is still a bit different even though it uses the same users. All the methods still have Robotoff in their n

[2021-12-21 07:49] monsieurtanuki commented on #291
Beyond the comments, we could create two enums that extend `ProductField`: `ProductFieldRead` and `ProductFieldWrite`, and accept only `ProductFieldRead` for read actions and `ProductFieldWrite` for write actions.
But first, good comments.

[2021-12-21 07:55] monsieurtanuki commented on #339
This morning I can
* create `robotoff.dart` that contains `OpenFoodAPIClient`'s robotoff's 6 methods under new class `RobotoffAPIClient`
* keep the 6 methods in `OpenFoodAPIClient` but link them to `RobotoffAPIClient` and deprecate them

@M123-dev OK with that?

[2021-12-21 08:51] teolemon commented on #339
- No strong opinion on the matter.
- Robotoff is the ML middleware of OFF, to get and validate suggestions on a given barcode
- Folksonomy is key-value model to allow adding more data to products, beyond our traditional model, but it's a separate server from OFF (it will also be extremely useful to model things like electronic devices for Open Products Facts)

[2021-12-21 09:00] monsieurtanuki commented on #339
@teolemon Is that the same Folksonomy database for food, cosmetic and pets, and potentially electronic devices, all based on a non-checked barcode? If so it should be a different library.

[2021-12-22 15:17] M123-dev opened #342 "Writing completely new documentation"

[2021-12-22 15:22] M123-dev commented on #342
Currently we have an outdated DOCUMENTATION.md, now I ask myself, if we should stick with this or if we should rather add more comments to the mainly used methods and then refer to the automatically generated documentation found here: https://openfoodfacts.github.io/openfoodfacts-dart/

@monsieurtanuki, any preferences here?

[2021-12-22 17:58] monsieurtanuki commented on #342
@M123-dev I don't read documentation, I read code.
So my suggestion is: we should add proper `///` comments, and let the documentation generator work on top of it for whoever reads documentation but not code.
And if needed add examples or tests, and link to them from README.md.

[2021-12-29 09:53] M123-dev opened #345 "getKnowledgePanels does not access globalLanguages"
`getKnowledgePanels` sets `'lc': configuration.language!.code,` as queryParameters, we should add a computeLanguageCode(s) method to `AbstractQueryConfiguratios` so that this also checks back for globalLanguages

[2021-12-29 11:21] MohamedFBoussaid opened #346 "While running Widget tests on my app, OFF package is throwing an error"
**Describe the bug**
While testing a widget that you OpenFoodAPIClient.getProduct(), I was getting this error :

[code]

The test description was:
  Update Product UI tests

**To Reproduce**
Steps to reproduce the behavior:
Create a test that will call a widget that use OpenFoodFactAPI.getProduct()

**Expected behavior**
No error should be thrown

**Screenshots**
If applicable, add screenshots to

[2021-12-29 14:37] peterwvj commented on #346
Hi @MohamedFBoussaid thanks for reporting. I'm using version 1.7.0 of the SDK in my app as well, and I don't experience the issue being reported here.

Are you certain that the problem is in the OFF SDK? If yes, can you write a unit test (that I can run on my machine) that produces the problem? Preferably a minimum example that produces the problem.

I'm also intrigued to know which version of the

[2021-12-29 15:01] MohamedFBoussaid commented on #346
Hi @peterwvj
Here the output for `flutter doctor -v`  :
[code]

A test that can reproduice that:

This can be an example of test:

[code]

Where `ScannedProduct` is the product class model
`UpdateProduct` is my screen for updating a product, in which I call `OpenFoodFactsAPI.getProduct` :

And with the previous error I am getting this worning:

[code]

[2021-12-29 15:28] peterwvj commented on #346
I noticed that you are using Flutter 2.8.1. I was wondering whether the problem could be produced using Flutter 2.5.3 (the stable release that came before 2.8.0). Recently, I had to downgrade my app to built with 2.5.3 due to problems with the latest Flutter SDK. I've seen people advice against using 2.8.0 due to numerous other problems with that release. Fortunately, downgrading/upgrading Flutter

[2021-12-29 20:31] MohamedFBoussaid commented on #346
Thanks @peterwvj I just downgrade the version and the test passed ! It seems there is a regression on the flutter version.
I will close the issue.

[2021-12-29 20:32] #346 closed

[2021-12-29 20:33] peterwvj commented on #346
Glad to hear that you made it work 👍

[2021-12-30 14:56] teolemon opened #348 "Add a method to return a localized taxonomy translation url"
### What
- [ ] Add a method to get localized taxonomy translation urls
  - Structure: https://world-fr.openfoodfacts.org/categories?translate=1
  - https://world-LC.openfoodfacts.org/TAXONOMY_NAME?translate=1
- [ ] Add a method to get localized Crowdin URL for Open Food Facts
  - https://crowdin.com/project/openfoodfacts/fr
### Why
- We have a section in the app on how to contribute to the project

[2021-12-30 15:50] teolemon opened #349 "Add support for the openfoodfacts-events API (leaderboard, badge and gamification system)"
### What
- [ ] Add support for the badge and event system
  - Source: https://github.com/openfoodfacts/openfoodfacts-events
  - API documentation: https://events.openfoodfacts.org/docs / https://events.openfoodfacts.net/docs
### Why
 - Will unblock openfoodfacts/smooth-app/issues/20

[2021-12-30 16:03] jasmeet0817 commented on #349
Yeah, i plan to retake this one up but someone in mid January, anyways i think this lower priority than some of the other stuff

[2021-12-31 10:10] teolemon opened #350 "Add support for product/score readiness support"
### What
- Add support for score readiness support
### Why
- to support that kind of features, without building an ad-hoc backend.
![image](https://user-images.githubusercontent.com/1689815/147817132-2f25fe5c-cb26-46d9-a079-f8862e73eebf.png)

### How
- A simplistic way for apps to monitor whether the product is ready would be to check for states at every app opening/daily/whatever.
- They would ca

[2021-12-31 10:11] teolemon commented on #349
Did you start working on any of the API routes, or is that something a community member could start working on for the DART package potentially ?

[2021-12-31 10:28] monsieurtanuki commented on #350
### Smoothie ###
That would mean doing that only for a implicitly restricted list of products, like the products I created on my smartphone, right? Or the products where I ticked the "alert me" checkbox (unticked by default). We can't do that on 1K+ products each time we're opening the app.

### off-dart ###
* The input would be a list of barcodes
* The output would be a `Map<barcode, ScoreReadine

[2022-01-05 12:04] monsieurtanuki commented on #350
Done in #351: now it's time for smoothie to work on it!

[2022-01-05 12:04] #350 closed

[2022-01-06 17:41] M123-dev opened #354 "Don't expose unnecessary user credentials"
Currently, the user credentials are always added to the header for every request, even for Get requests. This is an unnecessary security risk, we should only add this where necessary.

In addition, things like `searchProducts` or `getRandomInsight` have a user as a required field. We probably don't need that in most cases

[2022-01-07 23:19] nullbtb opened #357 "Can't save product nutriment units with MILLI_G, MICRO_G and other types"
**Describe the bug**
When I pass a Product which contains nutrients, the client sends the actual dart Unit enum string value rather than a string representation of the unit.  This means that the outgoing request is sent to the back end with the string representation of the dart units, something like this: nutriment_calcium_unit=MILLI_G instead of nutriment_calcium_unit=mg.  This results in the pro

[2022-01-08 08:01] monsieurtanuki commented on #357
Hi @nullbtb!
I was able to reproduce your bug, and it will be fixed today.

[2022-01-08 11:39] #357 closed

[2022-01-08 12:11] monsieurtanuki commented on #357
@nullbtb Fixed in the currently available version 1.9.1

[2022-01-08 13:07] monsieurtanuki commented on #354
@M123-dev I don't share your worries about sending the user even for GET requests (as long as it's httpS) - assuming that there's a point of doing it (statistics?).
But I would definitely be in favor of uniformity for at least the `User` parameter:
| positional `User` | positional `User?` | named `User?` | required `User` | no `User` at all |
| --- | --- | --- | --- | --- |
| `saveProduct` | `sear

[2022-01-08 16:19] nullbtb commented on #357
Thank you @monsieurtanuki!

[2022-01-11 07:55] monsieurtanuki commented on #345
@M123-dev I guess that should be part of a whole refactoring for version 2.0.0.

[2022-01-11 09:53] teolemon commented on #349
I clarified that there's no code dependancy between the 2 in the initial issue. If a community member would like to pick it up, so that we can demo getting one badge (image taking) and showing it in Smoothie, at the Fellowship wrapup event, that would be great.

[2022-01-21 08:36] monsieurtanuki opened #369 "Refactoring Product queries with api/v2"
**Is your feature request related to a problem? Please describe.**
Currently, several methods call the back-end about product data, with a different API number (`0` or `2`) and a slightly different syntax (but with the same input parameter: `ProductQueryConfiguration`):
* `getProductRaw` that relies on `api/v0/product/$barcode.json`
* `getProduct` that relies on `api/v0/product/$barcode.json`
* `g

[2022-01-22 13:57] teolemon opened #370 "Implement the new App uuid system"
### What
- [x] Implement the new App uuid system
  - [x] app_name
  - [x] app_version
  - [x] app_uuid
- [ ] Deprecate the equivalent using comment=

For further details and potential questions, see: https://github.com/openfoodfacts/openfoodfacts-server/pull/6319

### Part of
- #218

[2022-01-23 07:43] monsieurtanuki commented on #370
@teolemon Basically it's about adding 3 optional `String` parameters to API queries, but will that concern _all_ queries, or just the writes or just the reads?

[2022-01-23 07:48] monsieurtanuki commented on #354
That means that we should get rid of apparently superfluous user parameters for GET requests that are _not_ in https.

[2022-01-23 08:02] M123-dev commented on #370
I think we can edit the UserAgent to be used for that

[2022-01-23 08:39] #369 closed

[2022-01-23 08:53] teolemon commented on #370
- It's just the `WRITE` queries at the moment, and you can pass it in the URL, especially for apps that can't send a UserAgent.
- It's also probably optional, especially since compulsory would create backwards compatibility issues. @stephanegigandet might have a stronger opinion.

[2022-01-23 10:09] M123-dev commented on #370
What apps can't send a UserAgent, the current UserAgent in this sdk is pretty similar, it's only lacking the uuid and is probably send different

https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/model/UserAgent.dart

  `final String? name;
  final String? version;
  final String? system;
  final String? url;
  final String? comment;`

[2022-01-23 17:08] monsieurtanuki commented on #348
Done in #372.

[2022-01-23 17:08] #348 closed

[2022-01-23 17:11] monsieurtanuki commented on #345
From #371 `getKnowledgePanels` is deprecated - when using the more standard `getProduct` with `[ProductField.KNOWLEDGE_PANELS]` you don't have this issue anymore.

[2022-01-23 17:11] #345 closed

[2022-01-25 09:07] stephanegigandet commented on #370
I agree with @M123-dev , the info is the same as what we have in the UserAgent class, we can reuse it, so we don't need a separate SourceConfiguration class as proposed by @monsieurtanuki in his PR.

A few points:

1. Apps should send both the User-Agent header (as we do today) and the extra app_name and app_version parameters (as GET or POST parameters, but they should not be mixed: either send a

[2022-01-25 09:10] stephanegigandet commented on #370
5. For read queries / search queries, the SDK should allow apps (and apps users) to easily add (or not add) an user specific OFF username/password. This is to allow future features like accessing your scan history on the website, or other apps.

[2022-01-25 09:35] monsieurtanuki commented on #370
Working on 1. and 3.

[2022-01-25 14:29] M123-dev commented on #370
For the uuid, we can probably add it to the user class since it is somewhat related

[2022-01-25 18:06] monsieurtanuki commented on #370
Sounds good to me.

But: how do you compute the UUID? I cannot picture the meaning of UUID compared to just the userId (e.g. `monsieurtanuki`). Should we add the environment, hash them and present the result as a 36-character string? (cf. https://en.wikipedia.org/wiki/Universally_unique_identifier)

[2022-01-25 18:48] teolemon commented on #370
https://github.com/openfoodfacts/smooth-app/blob/954449e437ce0a848bd8313eb6eed0f6a8770d20/packages/smooth_app/lib/cards/product_cards/question_card.dart#L397

[2022-01-25 18:48] teolemon commented on #370
@monsieurtanuki here's what we do in Smoothie (for Robotoff only, I believe)

[2022-01-25 22:14] monsieurtanuki commented on #370
Thank you @teolemon!

As off-dart is not restricted to Android and iOS, we need UUID also for MacOS, Linux, Web and Windows. [Something like that](https://stackoverflow.com/questions/45031499/how-to-get-unique-device-id-in-flutter/65561019#65561019):
[code]

Or using [platform_device_id](https://pub.dev/packages/platform_device_id):
| platfom | source | example |
| -- | -- | -- |
| Windows | BIOS

[2022-01-26 07:32] monsieurtanuki commented on #370
There is a couple of problems:
* off-dart is a `dart` project, and all the "get device id" packages are `flutter` packages, not `dart` packages. They can't be used in `dart` (as far as I understand)
* even if it worked, the "get device id" methods are `Future`s, which has a (manageable) impact on the code, like `Uri getUri(...)` becoming `Future<Uri> getUri(...) async ...` with the related strange

[2022-01-26 11:32] jasmeet0817 commented on #370
Sorry for being late to the party.

Agreed, this is not ideal.

I think the server should specifically either ask for a device-id or username+something and the server should be responsible for generating the UUID based on that information. Reason being, two different clients could send the same UUID that they create based on different mechanics. Clients are generally not responsible for creating t

[2022-01-26 15:40] monsieurtanuki commented on #370
@jasmeet0817 As I said before, I don't quite understand the purpose of the `uuid`. If it's something like "device id", __we cannot do that in dart but in flutter__.

As I suggested, we can provide a dart method to generate UUID. The problem is that we cannot be sure that the user 1. uses this method 2. populates correctly the global `uuid` field 3. stores and reuses correctly its `uuid` generated

[2022-01-26 21:49] jasmeet0817 commented on #370
hmm I see. Thanks for clarifying. To be honest I would just get the `device_id` in Smoothie directly, it's already so easy, we don't really need another layer on top.

@teolemon  Basic question: Is this really needed in off-dart package ? Can the clients just pass `deviceId` to the APIs? we can just make it a requirement to always pass it in the APIs we care  about.

[2022-02-02 10:23] monsieurtanuki commented on #370
@teolemon I think we're done here; I guess the part about `comment` was more server-related.
Feel free to reopen it if relevant.

[2022-02-02 10:23] #370 closed

[2022-02-02 15:56] teolemon opened #379 "Add support for the multilingual text field `packaging_text_XX`"
### What

- [ ] Add support for the multilingual text field `packaging_text_XX` that enables users to input the recycling instructions
- This fields behaves exactly like the ingredients_text_XX, and the mechanism to fill it is exactly the same (get the OCR from the selected `packaging_XX` image, have the user check it, and then POST it to packaging_text_XX)
### Why
- Packaging is a crucial compone

[2022-02-05 13:52] monsieurtanuki commented on #379
Done in #380.

[2022-02-05 13:52] #379 closed

[2022-02-11 21:18] teolemon opened #382 "Add AutoSuggest for Packaging"
### What
- Packaging was taxonomized this week.
- This means that we now get autosuggest: https://world.openfoodfacts.org/cgi/suggest.pl?lc=en&tagtype=packaging&string=a
- [ ] Add autosuggest for packaging to the DART package

### Part of
- #218

[2022-02-12 07:03] #382 closed

[2022-02-15 19:47] #349 closed

[2022-02-24 09:19] monsieurtanuki opened #394 "Problem getting all allergens (and other taxonomies)"
**Is your feature request related to a problem? Please describe.**
Allergens is a taxonomy without parents/children.
Therefore there's no notion of "root allergens" from where we could parse the tree - cf. `TaxonomyCategoryQueryConfiguration.roots`.
Therefore we cannot list all allergens, unless we already know their tags, the current configuration system being either getting the roots, or specify

[2022-02-24 14:30] monsieurtanuki opened #395 "Autocomplete/search for taxonomies"
**Is your feature request related to a problem? Please describe.**
In case the end-user wants to type in a taxonomy value (e.g. `brea`) we should be able to list all the names for this taxonomy that contain this text (e.g. 'Breads', 'Crips breads', ...)

**Describe the solution you'd like**
Inputs:
1. language
2. country
4. taxonomy
5. text
7. fields

Outputs:
* all the fields of all the taxonomy

[2022-02-24 16:58] stephanegigandet commented on #395
This is the API we have today, that is used on the website for autocomplete suggestions:
https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=categories&lc=fr&term=cam

[2022-02-24 17:41] stephanegigandet commented on #394
Thanks for the report, I'm looking into it.

[2022-02-24 17:47] stephanegigandet commented on #394
Fixed for states, countries, allergens, traces. e.g. https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=allergens&include_root_entries=1&include_children=0&lc=en%2Cfr&cc=fr&fields=name

The taxonomies needed to be rebuilt.

There's no taxonomy for emb_codes

[2022-02-24 18:45] monsieurtanuki commented on #394
Thank you @stephanegigandet! Still not working for countries:
* OK for [TagType.STATES: 'states'](https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=states&include_root_entries=1&include_children=0&lc=en%2Cfr&cc=fr&fields=name)
* OK for [TagType.TRACES: 'traces'](https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=traces&include_root_entries=1&include_children=0&lc=en%2Cfr&cc=fr&fields=na

[2022-02-24 19:08] monsieurtanuki commented on #395
Thank you @stephanegigandet for your answer. Oops, actually it already existed as `getAutocompletedSuggestions`...
Not as I expected it (no fields, just "name"), but I guess that's good enough.

[2022-02-24 19:08] #395 closed

[2022-02-25 10:06] stephanegigandet commented on #394
ah right, we have an issue for countries, the  taxonomy is not rebuilding, looking at it

[2022-02-25 11:05] stephanegigandet commented on #394
should be fixed by https://github.com/openfoodfacts/openfoodfacts-server/pull/6442

[2022-02-25 12:20] monsieurtanuki commented on #394
Thank you @stephanegigandet: here we'll just have to uncomment the test as soon as the server fix is merged.

[2022-02-25 17:27] monsieurtanuki commented on #394
Fixed by #396.
Still waiting for https://github.com/openfoodfacts/openfoodfacts-server/pull/6442, to be completely fixed (for "all countries").

[2022-02-25 17:27] #394 closed

[2022-03-02 08:56] monsieurtanuki opened #401 "Download of the integrality of a taxonomy"
**Is your feature request related to a problem? Please describe.**
Typical use-case: in my app I want the end-user to change taxonomy values for a product, therefore I need to need which are the possible values. Currently the only possibility is to get the root values and to climb the value tree. Each time needing internet access and `await`ing.

**Describe the solution you'd like**
A single API c

[2022-03-03 10:15] teolemon opened #403 "Allow to construct the URL for an arbitrary list of products"
### What
- I'm designing screens for a simple list feature (based on Android v1), and one nice feature is getting a web url of your lists
- Allow to construct the URL for an arbitrary list of products
  - https://world.openfoodfacts.org/search?code=3254560079458,1234

[2022-03-03 10:27] monsieurtanuki commented on #403
I think it's already there:
[code]

[2022-03-03 10:30] teolemon commented on #403
thanks @monsieurtanuki
closing. meanwhile, here's a sneakpeak:
<img width="569" alt="image" src="https://user-images.githubusercontent.com/1689815/156546909-680b1e24-0e89-414c-912f-4b316d078ed3.png">

[2022-03-03 10:30] #403 closed

[2022-03-10 15:52] monsieurtanuki opened #407 "Limit for number of products in "getProductList"?"
**Describe the potential bug**
`OpenFoodAPIClient.getProductList` takes a list of barcodes as an input parameter, and concatenates them in a GET url that retrieves the product data.
But there may be limits in the url length.

**Preliminary checks**
From what I found on the internet the url max length is around 2000 characters.
Let's say that we need to provide enough barcodes to go to 3000 charact

[2022-03-10 17:04] monsieurtanuki commented on #407
That was a good idea:
[code]

In my tests it looks like 8000 characters is the limit.

cf. #105: @teolemon @stephanegigandet Is there another way (like POST) to get a list of products than https://world.openfoodfacts.dev/products/8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,3330720237255,3608580823513,3700278403936,3302747010029,3608580823490,3250391660995,3760020506605,87

[2022-03-13 09:55] teolemon opened #408 "Map the source_text, source_url, ... fields for the Knowledge panel API"
### What
- Map the `source_text, source_url,...` field for the Knowledge panel API

### Why
- https://github.com/openfoodfacts/smooth-app/issues/1026
### Code pointer
- https://world.openfoodfacts.org/api/v0/product/5425015401027.json?fields=knowledge_panels
### Screenshots
![image](https://user-images.githubusercontent.com/1689815/151361069-b1981f3f-670a-4148-b226-f4c1de54674d.png)
![image](https

[2022-03-13 21:46] monsieurtanuki opened #410 "Changes in TaxonomyCountry; tests fail in the meanwhile"
**Describe the bug**
It looks like there were recent changes (on the server side) in `TaxonomyCountry`.

**To Reproduce**
The integration tests about `TaxonomyCountry` do not pass anymore.

**Expected behavior**
For instance, with https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=countries&tags=en%3Agambia&include_children=0&lc=en%2Cfr&cc=fr
* there used to be some kind of `Map<OpenFoodFacts

[2022-03-14 17:37] #408 closed

[2022-03-15 03:51] AshAman999 commented on #407
I am new to this repo and eager to contribute,
As it seems backend also needs to be ready to accept the changes if we are making a post request to get the data .

[code]

if possible can i work on the front end part of this issue, a little bit of help in the context where to make the changes would help me a lot .
Thanks :)

[2022-03-15 06:29] monsieurtanuki commented on #407
Hi @AshAman999! First we definitely need some changes on the server side, or another existing URL.
ping @stephanegigandet  @teolemon

[2022-03-15 06:36] monsieurtanuki commented on #410
Done in #411 #412.

[2022-03-15 06:36] #410 closed

[2022-03-15 11:49] stephanegigandet commented on #407
@monsieurtanuki the OFF API accepts all parameters as POST parameters, but don't mix and match them: either send only query parameters, or only POST parameters.

For the Dart package, it's probably best to use POST for all requests. GET is mostly used for debugging purposes.

[2022-03-15 11:51] stephanegigandet commented on #407
e.g. use this: https://world.openfoodfacts.dev/api/v2/search?code=8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,3330720237255,3608580823513,3700278403936,3302747010029,3608580823490,3250391660995,3760020506605,8722700202387,3330720237330,3535800940005,20000691,3270190127512.json&fields=code,product_name

but send parameters with POST

[2022-03-15 18:29] monsieurtanuki commented on #407
Thank you @stephanegigandet!
@AshAman999 I had already coded tests for this issue; I'm about to send a PR.
But I'll create another issue just for you, from @stephanegigandet's "it's probably best to use POST for all requests".

[2022-03-15 18:52] monsieurtanuki opened #414 "It's probably best to use POST for all requests"
**Is your feature request related to a problem? Please describe.**
cf. @stephanegigandet's comment in #407.

**Describe the solution you'd like**
The impact would be all GET queries in `openfoodfacts.dart`, that should be changed into POST queries.

**Describe alternatives you've considered**
In most cases we don't _need_ it because there are only rare cases where we can reach the 8000 character l

[2022-03-15 18:53] monsieurtanuki commented on #414
ping @AshAman999

[2022-03-15 22:14] #407 closed

[2022-03-16 06:18] AshAman999 commented on #414
@monsieurtanuki  I looked into the file where this code was and can probably come up with the solution, will raise a pr when done, though i am not sure about unit testing of the code as i have not done before, should i go ahead with my work?

[2022-03-16 06:24] monsieurtanuki commented on #414
@AshAman999 I'm a bit worried when you say "come up with the solution": in my mind you just have to change each `doPostRequest` with a `doPostRequest`, and there should be no impact at all on unit tests.
I suggest that you just do one change, e.g. for method `getProductString`, create a PR and we'll see if it's the good direction.

[2022-03-16 06:27] AshAman999 commented on #414
Okay,
I will raise a pr soon

[2022-03-18 06:34] #414 closed

[2022-03-21 16:36] stephanegigandet commented on #401
Note: Some taxonomies like categories are huge and may take quite a long time to download. Then there's the issue that many taxonomies get updated frequently. Depending on the use case and the actual taxonomy, there might be other options (e.g. suggest as you type as we have on the OFF web site).

[2022-03-21 17:42] stephanegigandet opened #420 "Selection / cropping of photos is not attributed to users (user_id and password fields not sent)"
When images are selected / cropped, the packaged does not pass the user_id and password field, so the selection is not attributed to the user.

Related to https://github.com/openfoodfacts/openfoodfacts-server/issues/6496

Fix: send the user credentials in the body of POST requests.

[2022-03-22 13:38] teolemon opened #422 "Add support for 'no_nutrition_data'"
### What
- Add support for 'no_nutrition_data'
- Proto documentation available at: https://github.com/openfoodfacts/api-documentation/issues/70

### Part of
- #218

[2022-03-22 13:53] #241 closed

[2022-03-22 14:14] monsieurtanuki commented on #401
@stephanegigandet That makes sense, but that also means we cannot change taxonomy values for a product when offline, right? Feel free to close this issue if it's not relevant.

[2022-03-23 09:14] #420 closed

[2022-03-30 19:09] Raj2503 opened #425 "Keeping track of Product Views through Anonymous Data"
We can add the functionality to keep **track of the views** a certain product is getting, thereby providing us with essential information about which products are **liked or generally bought** by people.

Using this data, we can improve the Open Food Facts AI and create a section for **Most Popular Products**.

[2022-03-31 07:17] monsieurtanuki commented on #425
As pointed out [here](https://github.com/openfoodfacts/openfoodfacts-dart/pull/386#issuecomment-1073763346), that should probably rather be done on the server side than on the client side.
In addition to that, I believe that the natural order of the results is the product popularity, but maybe I'm wrong.
Maybe a good reason to use Folksonomy, which is already implemented.

[2022-03-31 14:30] teolemon opened #426 "Adding Code Coverage, like on Smoothie"
### What

- [ ] Adding Code Coverage, like on Smoothie

### Why
@VaiTon recently added code coverage, on Smoothie, but I believe the metric makes even more sense here.

### Part of
- Devops

[2022-04-01 10:18] #426 closed

[2022-04-01 16:02] Raj2503 commented on #425
@monsieurtanuki thank you for the amazing insight.
It opened me up to a broader perspective of the problem.

Please correct me if I am wrong again, but I would suggest implementing [Google Analytics  APIs](https://developers.google.com/analytics#:~:text=APIs%20for%20reporting%20and%20configuration) on the server-side for this purpose.
**Google Analytics** can really simplify the problem according

[2022-04-01 16:21] M123-dev commented on #425
When I remember correctly there is already some kind of loose tracking of some metrics, but Open Food Facts has a big focus on privacy therefore I guess Google Analytics isn't in use.

 But as monsieurtanuki already pointed out, this repository has nothing to do with tracking metrics but is just a wrapper around the OpenFoodFacts API. You'll probably get a better answer if you either ask in the [s

[2022-04-01 16:25] monsieurtanuki commented on #425
Hi @Raj2503! As @M123-dev's just pointed out, that concerns rather the server side. I keep my energy for the flutter/dart side :)

[2022-04-04 10:10] monsieurtanuki opened #430 "Get faster and customized results, sending anonymized food preferences to the server"
**Is your feature request related to a problem? Please describe.**
cf. https://github.com/openfoodfacts/smooth-app/issues/1326
* So far, when we return products, their order has nothing to do with user-defined preferences.
* that means, if I want to get the best products according to my preferences, I need to get _all_ products, then rank them
* this issue is about letting the server order the ret

[2022-04-05 09:39] g123k opened #432 "README.md: List of apps using the SDK"
Hi everyone,

After a discussion on Slack (https://openfoodfacts.slack.com/archives/CJJS77W6B/p1649139667792409), some people were asking for examples of apps using the Dart SDK.

Wouldn't it be nice to have a section in the README to link to some of them? (eg: Smoothie)

[2022-04-05 09:44] teolemon commented on #432
Sounds like a good idea

[2022-04-05 11:27] g123k commented on #432
Ok I will a add the section.
Except Smoothie, do you know other apps using the SDK?

[2022-04-05 12:20] MohamedFBoussaid commented on #432
@g123k you are looking for the list of the (OFF) internal apps that are using the SDK or any app is using it?

[2022-04-05 12:23] VaiTon commented on #432
I think even third party apps are welcome here as we want to showcase the use-cases of the dart library!

[2022-04-05 13:34] MohamedFBoussaid commented on #432
@VaiTon  @g123k
Here 2 apps :

Gluten Scan:
https://play.google.com/store/apps/details?id=com.healthyfood.gluten_free_app
https://apps.apple.com/ch/app/gluten-scanner/id1540660083?l=fr

Halal & Healthy:
https://play.google.com/store/apps/details?id=com.TagIn.Tech.handh
https://apps.apple.com/ch/app/halal-healthy/id1603051382?l=fr

[2022-04-05 15:06] peterwvj commented on #432
Fitness Tracker uses the SDK: https://play.google.com/store/apps/details?id=dk.cepk.fitness_tracker

[2022-04-07 21:24] VaiTon commented on #132
I think it would. I think editing the product is the main behavior we want to keep as a default here. @teolemon any thoughts?

[2022-04-08 15:43] M123-dev commented on #132
Yeah lets do it like that

[2022-04-08 16:16] monsieurtanuki commented on #132
@VaiTon Any idea about the list of addable fields? Will they all be accepting `String` as value?

[2022-04-09 00:51] VaiTon commented on #132
I think every field has an 'add' version except from code and lang. (From here https://wiki.openfoodfacts.org/API/Write)

Yes, everything can be sent as a string.

On android we have atm:
[code]

[2022-04-09 10:04] teolemon commented on #132
We created that when we didn't have efficient editing, and also for offline editing (where tags on server might - 5% chance - have changed). It's more of a safety measure than anything else, but if you retrieve existing values, show them to the user, let them edit them, and send everything, we do not need them (assuming that the last user who speaks is right)

[2022-04-09 15:21] monsieurtanuki commented on #132
@teolemon The way I understand your comment, you mean that this issue is pointless, should be closed and that the related PR should be ignored, am I right?

[2022-04-09 15:28] teolemon commented on #132
It might be useful for other apps, but I'd rather have destructive editing for Smoothie (the whole point of the tag picker)

[2022-04-12 13:53] #432 closed

[2022-04-12 16:11] g123k opened #439 "Validity of a barcode"
On the Android app, [a barcode is valid if](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.kt#L244):
- Its length is > 3
- Is an EAN 13
- Doesn't start with 977, 978 or 979

If I'm not wrong, we don't have these checks on Smoothie.
Should we implement them?

[2022-04-15 07:57] g123k commented on #439
(It's better to talk about this in the Dart SDK)

Thanks for your two links @monsieurtanuki.
Maybe we should improve the `InvalidBarcodes` class by stating that only EAN13 and EAN8 are valid?

[2022-04-15 13:17] monsieurtanuki commented on #439
The first steps would be to implement methods `isValidEAN8` and `isValidEAN13`. Then we'll see.

[2022-04-16 10:50] christianfl opened #440 "Unhandled exception using OpenFoodAPIClient.searchProducts() with specific ProductSearchQueryConfiguration"
**Describe the bug**
OpenFoodAPIClient.searchProducts() throws Unhandled Exception with a given ProductSearchQueryConfiguration. Occured searching for "**vitamin**".

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
result variable is filled with SearchResult without any unhandled exceptions.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2022-04-16 11:45] g123k opened #441 "Sign up: limit usernames to 20 chars"
@see https://github.com/openfoodfacts/smooth-app/issues/1585

[2022-04-16 13:06] M123-dev commented on #440
Probably can be fixed by a additional `.toString()` here https://github.com/openfoodfacts/openfoodfacts-dart/blob/ea79ad0f3283c50ba54e1767bcece5761c57f939/lib/utils/JsonHelper.dart#L86-L87

[2022-04-18 07:18] g123k opened #445 "Error: Input required and not supplied: github-token"
Tests running on PRs fail at the "Add issue to project" step.
Here is an example:

https://github.com/openfoodfacts/openfoodfacts-dart/runs/6059820033?check_suite_focus=true

[2022-04-18 07:34] #445 closed

[2022-04-18 07:37] g123k commented on #439
@monsieurtanuki This should be implemented in #444.
Please don't hesitate to add any comment on the PR 👍

[2022-04-18 13:52] #441 closed

[2022-04-18 14:16] #439 closed

[2022-04-18 21:35] #422 closed

[2022-04-19 06:35] Vishnu-Jmatics opened #447 "Page(page: 10) not importing in openfoodfacts: ^1.14.0"
**Describe the bug**
`Page(page: 10)` not importing in openfoodfacts: ^1.14.0

**To Reproduce**
I'm developing a flutter application and it need the support of open-foods api for getting items by keyword.  For that I have set parameters like
 `PageSize(size: 1)`,
`SearchTerms(terms: [searchText])`,
`SortBy(option: SortOption.PRODUCT_NAME)`,
**`Page(page: 10)`**
etc.

But **`Page(page: 10)`** shows

[2022-04-19 06:42] g123k commented on #447
Hi @Vishnu-Jmatics,

Thanks for your report.
I have tested on a new project and I don't have any issues with this class.

Are you certain that in your file, you don't import another file with also exports a `Page`?

[2022-04-19 06:47] Vishnu-Jmatics commented on #447
@g123k  Thanks for the info. I 've checked it and shows this.

The name 'Page' is defined in the libraries 'package:flutter/src/widgets/navigator.dart' and 'package:openfoodfacts/model/parameter/Page.dart (via package:openfoodfacts/openfoodfacts.dart)'._

How can rectify this. Please help..

[2022-04-19 06:51] g123k commented on #447
In your imports just say:

[code]

[2022-04-19 06:58] M123-dev commented on #447
Otherwise if you at some point need both `Page` classes in a single file you can replace `hide Page;` with for example `as off;` then all imports from openfoodfacts would start with off.

`off.SearchTerms
off.Page
...
`

[2022-04-19 07:00] Vishnu-Jmatics commented on #447
@g123k Yey great. _import 'package:flutter/material.dart'_ is not directly imported in file but I supposed it resides in _'package:flutter/material.dart'_. I 've replaced it it by **_import  'package:flutter/material.dart' hide Page;_**. Thanks for ur valuable response, I can forward with this.

[2022-04-19 07:03] #447 closed

[2022-04-19 07:16] monsieurtanuki commented on #447
@g123k @M123-dev Well done guys! Perhaps one day we should refactor `Page` as `PageNumber`: that would be more explicit and less prone to ambiguity, import-wise.

[2022-04-19 17:59] M123-dev commented on #440
@christianfl a new release with the fix should be available any minute now 🎉

[2022-04-20 06:57] monsieurtanuki opened #450 "pub.dev score from 130 to 120 :("
**Describe the bug**
The pub.dev score went down from 130 to 120.

**To Reproduce**
Go to https://pub.dev/packages/openfoodfacts/score
Alternate solution:
1. edit `analysis_options.yaml`
3. comment all the errors and all the rules, in order to more or less match the pub.dev parameters
5. go to the package root folder, and run `dart analyze | grep lowercase_with_underscores | grep -v 'test/'`
[code

[2022-04-20 07:35] M123-dev commented on #450
Why not, since we export all the file from openfoodfacts.dart which can keep the same name there shouldn't be a big problem for sdk users.

But yes if point 1 or 2 work I'm more a fan of these

[2022-04-20 08:05] monsieurtanuki commented on #450
I don't see how you could fix that: can you please give an example with file `'utils/JsonHelper.dart'`?

[2022-04-20 09:25] M123-dev commented on #450
`'utils/json_helper.dart'`

[2022-04-20 09:51] monsieurtanuki commented on #450
@M123-dev That's 100% correct.
The problem is the impact on _all_ our files for _all_ our users: do you think of a way to prevent that impact?

[2022-04-20 10:09] M123-dev commented on #450
Most won't notice it as the prefered way is to just import `openfoodfacts/openfoodfacts.dart`

[2022-04-20 10:17] monsieurtanuki commented on #450
I'm afraid not: for instance in smoothie, `openfoodfacts.dart` is used 36 times, and class files are used 101 times...
[code]

[2022-04-20 10:32] M123-dev commented on #450
Ohh then we should really think about if changing is worth it

[2022-04-20 13:26] christianfl commented on #440
@M123-dev Works flawless, thank you for the fast fix!

[2022-04-20 16:17] MohamedFBoussaid commented on #450
@M123-dev @monsieurtanuki , if all the file are renamed. Our users will get errors everywhere, but the IDE will propose them the new path to import no ?

[2022-04-20 17:12] monsieurtanuki commented on #450
Imagine that in smoothie we would have to do that 101 times, manually, approving explicitly the IDE proposals...

If really this is needed, then we should do that in a breaking change version.
And hope anyway that the stupid lint rules don't change again later like they did.

[2022-04-20 17:57] MohamedFBoussaid commented on #450
Yes this can be an option,
Or for each release we make some small changes, until all were changed (it will take time but it will be better than leaving it this way)

[2022-04-20 18:17] monsieurtanuki commented on #450
It's going to be a breaking change anyway. I'd prefer a one shot with a "how to upgrade" article (in short, use `import 'openfoodfacts/openfoodfacts.dart'` instead).

There should be a way to prevent all the files to be suggested: the developer should only see `openfoodfacts/openfoodfacts.dart`.
For instance, if I type `Tooltip`, the IDE never suggests `tooltip.dart`, but only `material.dart`. Any

[2022-04-20 19:36] MohamedFBoussaid commented on #450
That is a great idea @monsieurtanuki.
I can take the task and implement it this way, if u didnt start it already?

[2022-04-21 06:01] monsieurtanuki commented on #450
@MohamedFBoussaid I haven't started anything, but please don't start anything right now: I think that while we're talking about a major version, we should gather other breaking changes (like #339) and make sure there's nothing urgent to PR meanwhile.

Guys, any other breaking changes you were thinking about while we're there?

[2022-04-21 08:19] Vishnu-Jmatics opened #452 "API for getting foods by keyword"
Hi, I'm doing an application and it need support for Openfood facts (US) api to list products by keyword. So let me know the API details for listing same.

[2022-04-21 09:08] Vishnu-Jmatics opened #453 "What param should I pass to get products of US"
In 'OpenFoodAPIClient.searchProducts()' by keyword what param should I pass to get products of US only?

[2022-04-21 10:25] monsieurtanuki commented on #354
As long as it's httpS we don't really care. And if it's mere http the developer knows that it's dangerous, security-wise.
I think we can close.

[2022-04-21 11:08] M123-dev commented on #354
The original advice came from pierre but I agree with you here that it is not a main prioritry task

[2022-04-21 11:08] #354 closed

[2022-05-03 05:12] Vishnu-Jmatics opened #464 "No servingUnit value"
I have integrated openFood package in flutter and found we couldn't get serving unit specifically. The servingSize and unit together in a string. My need is to calculate the nutriments by entering the serving size. For example 'Mandarin orange' servingSize is "1 cup(140 g)" has 956 kCal calorie. If I put 280 g then calculate it as (956*2). Here a servingQuantity value 140.0, but not mentioned it i

[2022-05-03 05:44] monsieurtanuki commented on #464
Hi @Vishnu-Jmatics! In a first approach I think it would be rather safe to presume that the serving unit is in _grams_.
In dart we just extract data from the server, therefore I have to forward the question to the server-side, @stephanegigandet?

[2022-05-03 15:30] jithinsu18 commented on #464
@monsieurtanuki  what about for this product for serving size of 33 cl unit
![Screenshot 2022-05-03 195805](https://user-images.githubusercontent.com/41995466/166484797-5c4fef59-8a8b-42ea-8f2c-5a0b368787cb.png)

[2022-05-03 15:34] monsieurtanuki commented on #464
@Vishnu-Jmatics The serving quantity is `330.0`(grams or ml). Which is equivalent to `'33 cl'`.

If your question is: "what is the serving unit?", I gave you a very good approximation (it's gram).
If your question is: "can I use the current serving quantity and the approximated serving unit (gram) to build again the serving size String, the answer is no".

[2022-05-18 14:41] monsieurtanuki opened #465 "Autocomplete suggestions limited to 25: not enough!"
**Describe the bug**
* Method `getAutocompletedSuggestions` takes a taxonomy type and an input arguments (and a language).
* It returns all the taxonomy values from this type, and that match the input.
* The problem is that only 25 items max are returned, which can be problematic with common terms.

**To Reproduce**
Steps to reproduce the behavior:
1. Look for "`soja`" in French - go to https://wo

[2022-05-19 16:20] monsieurtanuki opened #466 "Implement new algorithm to compute how products match users food preferences"
cf. https://github.com/openfoodfacts/smooth-app/issues/1894
cf. https://github.com/openfoodfacts/openfoodfacts-server/blob/main/html/js/product-search.js

[2022-06-01 14:42] stephanegigandet opened #473 "How could we improve the Open Food Facts API and its documentation so that it's easier to implement in the Flutter package?"
I'm posting this as an issue as it's the easiest way to reach the contributors of the openfoodfacts-dart package, we can close this issue in a couple of weeks.

Open Food Facts has a Google Summer of Docs intern, Funke Olasupo, who is working on improving the Open Food Facts API documentation. As you have been implementing it in the Flutter package, it would be great to have your feedback and idea

[2022-06-01 17:04] monsieurtanuki commented on #473
(open) Food for thought: https://documentation.divio.com/?mc_cid=5dcae0a22e&mc_eid=186ee87e7b

TL;DR

They are: tutorials, how-to guides, technical reference and explanation. They represent four different purposes or functions, and require four different approaches to their creation. Understanding the implications of this will help improve most documentation - often immensely.

[2022-06-03 18:39] monsieurtanuki commented on #466
Fixed by #467.

[2022-06-03 18:39] #466 closed

[2022-06-06 17:04] stephanegigandet commented on #465
@alexgarel will look into it, we could add an option to set the number of desired results. Also we could split the input query so that "boisson soja" matches any category with the 2 words "boisson" and "soja".

[2022-06-07 07:33] monsieurtanuki opened #476 "Possible bug around no_nutrition_data side effect"
**Describe the bug**
Context: working on https://github.com/openfoodfacts/smooth-app/pull/2195, where the goal is to set the list of stores for a product.
The idea is to get the store list from the product, then let the user change that list locally, then let the user save the new list.

For the "save" part, my assumption was to be as light as possible:
* create a `Product()` from scratch
* set th

[2022-06-07 08:15] monsieurtanuki commented on #476
Actually the problem seems totally different:
* same context (working on stores, then on labels)
* I try to work on a product with not too many labels (in case I have to rollback)
* working on the app, checking on the web
* while checking on the web, I saw a pop-up like "is that a drink?", I answered and it erased the ingredients, cf. https://fr.openfoodfacts.org/produit/5411188135142/alpro?rev=35

[2022-06-07 08:22] monsieurtanuki commented on #476
My bad: it looks like changing the `lang` of a product has numerous side effects :)

[2022-06-07 08:22] #476 closed

[2022-06-07 14:23] teolemon opened #477 "api_getProduct_test.dart: OpenFoodAPIClient get products get knowledge panels (failed) type 'Null' is not a subtype of type 'String' in type cast"
❌ test/api_getProduct_test.dart: OpenFoodAPIClient get products get knowledge panels (failed)
  type 'Null' is not a subtype of type 'String' in type cast
  package:openfoodfacts/model/KnowledgePanelElement.g.dart 202:28  _$KnowledgePanelTableElementFromJson
  package:openfoodfacts/model/KnowledgePanelElement.dart 294:7     new KnowledgePanelTableElement.fromJson
  package:openfoodfacts/model/Know

[2022-06-07 14:26] teolemon commented on #477
First spotted during: https://github.com/openfoodfacts/openfoodfacts-dart/pull/475

[2022-06-07 14:28] stephanegigandet commented on #477
probably the title of the nutrition table panel that was removed

[2022-06-07 14:28] teolemon opened #478 "We should run openfoodfacts-dart on each deployment (OR daily)"
### What
- To ensure we don't break anything with server deployments, we should run the openfoodfacts-dart test suite on each deployment (OR daily, OR even hourly)

[2022-06-07 20:00] stephanegigandet commented on #477
@monsieurtanuki I deployed an hotfix on prod, to add back the title. On test the fix has not been merged and deployed yet.

I think it would be good if we can make the openfoodfacts-dart package consider all response fields as optional, apps should not crash if a field is missing, or renamed.

[2022-06-07 20:25] monsieurtanuki commented on #477
@stephanegigandet I'm about to PR the "optional `title`" fix.

I don't know what to think about your suggestion of making all response fields optional: in a first approach I must say I'm not tempted and in a second approach I would say it's already late, so let's fix the issue first!

[2022-06-07 20:54] #477 closed

[2022-06-08 09:25] teolemon commented on #425
I'm closing, as we indeed already compute a popularity index server side, and have also a https://github.com/openfoodfacts/openfoodfacts-monitoring repository

[2022-06-08 09:25] #425 closed

[2022-06-08 09:51] teolemon opened #481 "The following fields do not exist in off-dart products AFAIK"
@teolemon I can work on "Packaging", but the following fields do not exist in off-dart products AFAIK:

- [ ] Origins of ingredients
- [x] Manufacturing places
- [x] EMB Codes
- [ ] Countries

_Originally posted by @monsieurtanuki in https://github.com/openfoodfacts/smooth-app/issues/2169#issuecomment-1149481786_

[2022-06-10 18:56] alexgarel commented on #465
I pushed a PR, but it's just a quick fix… I think in the future a search index could do a far better job.

[2022-06-11 05:40] monsieurtanuki commented on #465
Thank you @alexgarel for that quick fix!
Once it's merged we'll see if there are hidden use cases we forgot.

[2022-06-13 06:50] monsieurtanuki opened #486 "null barcodes: what shall we do?"
### What
- the whole app is designed with not null barcodes in mind
- the barcodes are the primary keys that helps us get the products
- for some reason, sometimes we get product with null barcodes (it's not a mandatory field in `Product`)
- products with null barcodes have no id
- the "normal" behavior in the code is to assume that the barcode is never null, and we "force" the barcode to be not n

[2022-06-13 13:08] monsieurtanuki commented on #465
@alexgarel We still have to code it in dart!

[2022-06-15 14:22] monsieurtanuki opened #482 "Add "app_platform" in user agent, along with app_name and app_version"
**Additional context**
cf. https://github.com/openfoodfacts/smooth-app/issues/2262 https://github.com/openfoodfacts/smooth-app/pull/2274

[2022-06-17 06:53] #482 closed

[2022-06-20 00:23] whygee-dev opened #487 "Documentation: Wrong way to set the user agent"
**Describe the bug**
https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/DOCUMENTATION.md#user-agent-http-header

[code]

it should be

[code]

[2022-06-20 08:22] monsieurtanuki opened #488 "Move the "user search" query method from smoothie"
A new search method was recently created in Smoothie
* https://github.com/openfoodfacts/smooth-app/issues/2315
* https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/database/paged_user_product_query.dart.

That method is related to the user history, like "all the products this user edited".

When the code in Smoothie is stabilized, the method should be moved here.

[2022-06-25 11:55] teolemon opened #493 "Implement action_element in the Knowledge Panel API"
### What

- [ ] Leverage sub-knowledge panels towards the road to Scores
- [x] The server side now provides hints for editing

### Mockup
<img width="784" alt="image" src="https://user-images.githubusercontent.com/1689815/153719154-5dd792cc-2e47-4b8e-b9a2-74fc49f186de.png">

### Why
- The user should never be in a dead end.

### How
The API should be available on the .net and .org server
https://w

[2022-06-25 21:17] monsieurtanuki opened #494 "OCR and packaging: move code from Smoothie"
**Is your feature request related to a problem? Please describe.**
Some interesting code was written in Smoothie: https://github.com/openfoodfacts/smooth-app/pull/2383, in `tmp_ocr_packaging_result.dart` (class `OcrPackagingResult`) and `ocr_packaging_helper.dart` (method `extractPackaging`).

**Describe the solution you'd like**
The code should be moved to this package.

**Describe alternatives y

[2022-06-26 05:55] monsieurtanuki opened #495 "Knowledge panels: add new "action" element"
**Is your feature request related to a problem? Please describe.**
Featured in https://github.com/openfoodfacts/smooth-app/issues/1136 and https://world.openfoodfacts.org/api/v2/product/4006922007543.json?fields=knowledge_panels, we need to decode a new `KnowledgePanelElementType` like that:
[code]

**Describe the solution you'd like**
There's probably a limited list of possible values for `"actio

[2022-06-26 13:10] teolemon opened #500 "❌ test/api_saveProduct_test.dart: OpenFoodAPIClient add new products add new product test 5 (failed)"
### What
❌ test/api_saveProduct_test.dart: OpenFoodAPIClient add new products add new product test 5 (failed)
  Expected: <1>
    Actual: <400>

  package:test_api                      expect
  test/api_saveProduct_test.dart 264:7  main.<fn>.<fn>

[2022-06-27 05:34] monsieurtanuki commented on #500
@teolemon The problem is probably on the server side.
Like "it's such a lousy product (very few data) that when we try to compute the scores, we fail (with a time-out)".

Even the website itself crashes when we just add a nutrient value: https://world.openfoodfacts.net/product/7340011364184/chili-beans-null (off/off)

When I try, I get a time-out:
[code]

And if I go back to the product page, I se

[2022-06-29 10:57] #488 closed

[2022-06-29 10:57] #494 closed

[2022-06-29 10:59] #495 closed

[2022-06-29 13:30] M123-dev opened #502 "Possible language code bug, to test"
**Describe the bug**

Just had a look at
https://github.com/openfoodfacts/openfoodfacts-dart/blob/d85164c756477b2be42e2f0470939cf3fdf7dfdd/lib/model/Allergens.dart

In [line 17](https://github.com/openfoodfacts/openfoodfacts-dart/blob/d85164c756477b2be42e2f0470939cf3fdf7dfdd/lib/model/Allergens.dart#L17)

We remove `en:` from the Allergens, we have to test if this could lead to unwanted results fo

[2022-06-29 13:35] M123-dev commented on #502
Eventhough it looks like that there are no 3 letter codes in ISO 639-1

https://github.com/openfoodfacts/openfoodfacts-dart/blob/dc77db313af4fa93e21aa4edc7ed7181a4e15e3b/lib/utils/LanguageHelper.dart#L567

[2022-06-30 16:42] monsieurtanuki opened #503 "From Smoothie: "all products to be completed" query configuration"
Class `ToBeCompletedQueryConfiguration` that was coded in Smoothie first and that is meaningful here too.
cf. https://github.com/openfoodfacts/smooth-app/pull/2441
cf. [tmp_to_be_completed_query_configuration.dart](https://github.com/openfoodfacts/smooth-app/blob/develop/packages/smooth_app/lib/pages/preferences/tmp_to_be_completed_query_configuration.dart)

[2022-07-02 14:03] #503 closed

[2022-07-02 14:22] M123-dev commented on #487
Thanks for mentioning @whygee-dev

When using the sdk a bit further you will see that the document is out of date in multiple places. Its on the tasklist. Feel free to mention everything you notice, maybe in here https://github.com/openfoodfacts/openfoodfacts-dart/issues/342 just a little mention would be enough so that we dont miss something.

[2022-07-02 14:25] M123-dev commented on #478
Just assigning to keep track, everyone feel free to take

[2022-07-03 06:11] teolemon commented on #193
yes, it's fixed by the actions API

[2022-07-03 06:11] #193 closed

[2022-07-07 21:30] M123-dev opened #507 "Sharing a product via social media should not add parameters"
### What
- When sharing a product:

Schauen Sie sich dieses Produkt auf Open Food Facts an: https://de-de.openfoodfacts.org/product/8027547000012?app_name=Smoothie+-+OpenFoodFacts&app_version=3.4.5%2B669&app_uuid=40cfc360ac0d4596&app_platform=android%2BSP1A.210812.016.G991BXXS5CVFB&comment=+-+Smoothie+-+OpenFoodFacts+-+3.4.5%2B669+-+android%2BSP1A.210812.016.G991BXXS5CVFB

- We should not add the

[2022-07-12 12:02] g123k opened #514 "Use shared Lint rules"
We have Flutter rules for our projects.
It would be nice to also enforce rules for Dart project, including this one

[2022-07-13 09:28] teolemon opened #515 "Implement Search V2 API to the fullest"
### What
- [ ] Implement Search V2 API to the fullest
  - [ ] https://world.openfoodfacts.org/api/v2/search?categories_tags_en=cakes&fields=code,product_name&sort_by=ecoscore_score
  - [ ] https://world.openfoodfacts.org/api/v2/search?ingredients_analysis_tags=en:vegan&fields=code,product_name
  - [ ] https://fr.openfoodfacts.org/api/v2/search?fields=code,product_name,knowledge_panels&page_size=10

[2022-07-13 11:22] teolemon commented on #515
cc @monsieurtanuki @M123-dev @g123k
- related to https://github.com/openfoodfacts/smooth-app/issues/1371

[2022-07-13 14:18] monsieurtanuki opened #516 "API v2 for multi barcode search"
https://world.openfoodfacts.org/api/v2/search?code=8024884500403,3263855093192&fields=code,product_name (replaces https://world.openfoodfacts.org/products/8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,3330720237255,3608580823513,3700278403936,3302747010029,3608580823490,3250391660995,3760020506605,8722700202387,3330720237330,3535800940005,20000691,3270190127512)

[2022-07-13 14:21] monsieurtanuki opened #517 "API v2: sort_by=ecoscore_score"
https://world.openfoodfacts.org/api/v2/search?categories_tags_en=cakes&fields=code,product_name&sort_by=ecoscore_score

[2022-07-18 14:40] Zubi1001 opened #518 "Format Exception When searching"
**Describe the bug**
A clear and concise description of what the bug is.

`My parameters are ["Olive","Oil"]`
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]
**package information:**
Openfoodfacts package version:

**Additional context**
Add any other context about the problem here.

[2022-07-18 14:54] monsieurtanuki commented on #518
Hi @Zubi1001!

I've just tested and that's OK for me:
* it's maybe a "bad luck" error, as the TEST env is notoriously unstable
* I would suggest you to work on PROD instead, unless you have good reasons to work on TEST

Basically the error you get is because we expect `json` data, and obviously something bad happened on the TEST server that did not return `json` data. Could be a timeout. Could be

[2022-07-18 16:27] monsieurtanuki commented on #518
@Zubi1001 I don't think it has anything to do with the flutter version, what we do in this package is very basic.
So, you copied/pasted my code and it still does not work, am I right?
As it works on my computer I cannot be really helpful.
I suggest that you help us fix that bug by installing openfoodfacts-dart on your computer, trying to reproduce that bug and possibly printing the response body (

[2022-07-18 21:14] M123-dev commented on #518
Just tested it  as well and I think I found the problem, when you plug in wrong credentials it fails as presumably the backend returns a error  html page not a json.

@Zubi1001 can you check if your credentials are correct

We should catch this and throw a better error

[2022-07-19 00:33] Zubi1001 commented on #518
@M123-dev Could my credentials be wrong if the login() function returns true?

[2022-07-19 00:39] Zubi1001 commented on #518
[code]

This is part of the string that `jsonDecode` is failing to decode, could it be that I am not receiving a Json response?

[2022-07-19 00:40] Zubi1001 commented on #518
@monsieurtanuki @M123-dev

[2022-07-19 05:35] M123-dev commented on #518
Yes it's a html answer, that's a common flaw with the api when something wrong happens it answers with a html page because the website and the api are the same project.

I couldn't see the problem in the html you send, could you check if there is a full version.

Also no the login method is supposed to work but to test if maybe it's broken maybe try to login on world.openfoodfacts.org

[2022-07-19 05:36] monsieurtanuki commented on #518
@Zubi1001 It could if you're `login` in PROD and searching in TEST. Again, what the hell are you doing in TEST?

[2022-07-20 10:44] teolemon opened #520 "Create a protocol for WRITE tests"
### What
@teolemon The problem is probably on the server side.
Per @monsieurtanuki, We currently use a product (with very few data) that when we try to compute the scores, fails with a time-out.
Even the website itself crashes when we just add a nutrient value: https://world.openfoodfacts.net/product/7340011364184/chili-beans-null (off/off)

When I try, I get a time-out:
[code]

And if I go back t

[2022-07-22 17:04] monsieurtanuki opened #523 "API v2: sort_by=last_modified_t"
https://world.openfoodfacts.org/api/v2/search?sort_by=last_modified_t

[2022-07-22 17:06] monsieurtanuki commented on #523
@teolemon Actually it's already implemented, but the name is not the same: `SortOption.EDIT`.
Should we deprecated `EDIT` and introduce `LAST_MODIFIED`?

[2022-07-22 17:42] monsieurtanuki opened #524 "API v2: ingredients_analysis_tags=en:vegan"
https://world.openfoodfacts.org/api/v2/search?ingredients_analysis_tags=en:vegan&fields=code,product_name

[2022-07-22 18:13] teolemon commented on #523
Mmh...it might have to do with V1 search vs V2 search? Is the edit field working ?

[2022-07-22 18:16] monsieurtanuki commented on #523
I don't know the difference. Could you point me to V1 and V2 code on the server?

[2022-07-22 19:12] monsieurtanuki opened #526 "API v2: allergens_tags:=-en:gluten"
https://us.openfoodfacts.org/api/v2/search?categories_tags_en=snacks&allergens_tags:=-en:gluten&page_size=5

[2022-07-23 06:33] monsieurtanuki commented on #526
Not 100% sure how I should deal with this one.

Of course, there are 14 "main" allergen tags, the ones in the preferences:
* `en:gluten`
* `en:milk`
* `en:soybeans`
* `en:eggs`
* `en:nuts`
* `en:fish`
* `en:mustard`
* `en:sesame-seeds`
* `en:crustaceans`
* `en:sulphur-dioxide-and-sulphites`
* `en:celery`
* `en:molluscs`
* `en:lupin`
* `en:peanuts`

But there are also "less English" and less normal

[2022-07-23 07:13] teolemon commented on #526
Other values should be taxonomized server side, so we focus on the 14 values as listed here: https://static.openfoodfacts.org/data/taxonomies/allergens.json

[2022-07-23 07:38] teolemon commented on #515
@monsieurtanuki I added a normalized tags list

[2022-07-23 07:51] teolemon commented on #515
additives : with, without, indifferent
We could have a suggested values for those: https://github.com/openfoodfacts/openfoodfacts-dart/blob/55f3fa583a535ec842db87067019ed2933f75a78/lib/model/parameter/TagFilter.dart
like 1,2,3,4 for nova_groups

[2022-07-23 17:06] monsieurtanuki opened #530 "https://uk.openfoodfacts.org/api/v2/search?salt_100g=%3E10&salt_100g=%3C15&fields=code,product_name,salt_100g"

[2022-07-23 17:12] monsieurtanuki commented on #530
Either there's a typo or I'm stupid (it's probably both), but using the same URL parameter twice is not very safe (I've even just typo-ed "very sage"). I know you do that in php but you add `[]` to the parameter name.
Anyway, with `salt_100g=>10&salt_100g=<15` I would assume to find products with a `salt_100g` between 10 and 15.
And that's not the case:
[code]

[2022-07-26 10:16] monsieurtanuki opened #531 "API v2: states_tags=en:origins-completed,en:packaging-to-be-completed"
https://world.openfoodfacts.org/api/v2/search?states_tags=en:origins-completed,en:packaging-to-be-completed&fields=code,states_tags

[2022-08-03 13:48] #516 closed

[2022-08-03 13:53] #517 closed

[2022-08-03 13:55] #524 closed

[2022-08-03 14:09] #531 closed

[2022-08-03 14:25] #526 closed

[2022-08-04 06:00] monsieurtanuki opened #539 "nova_groups search parameter"
tag:nova_groups - possible values: 4 (1,2,3,4) finite, json taxo + autosuggest + partial taxo API

[2022-08-07 09:12] M123-dev opened #541 "Add tests for login + register"
**Describe the bug**
More info in https://github.com/openfoodfacts/smooth-app/issues/1239

We already have tests for failing registers (https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/test/user_management_test.dart)

But

So we should test if creation really works

[2022-08-07 09:13] M123-dev commented on #541
p1 for smooth_app

[2022-08-13 12:42] M123-dev commented on #481
Can this be closed @monsieurtanuki

[2022-08-14 11:34] #478 closed

[2022-09-02 08:20] teolemon opened #548 "License appears unknown"
Apache License appears unknown

<img width="320" alt="image" src="https://user-images.githubusercontent.com/1689815/188096597-c1d1b832-fc11-4cbb-a916-c7a427028fc6.png">

[2022-09-08 07:48] teolemon opened #551 "Integrate the new image reporting system"
### What
- We now have a way to flag bad images in the server side gallery, just like in Hunger Games
- Hunger Games equivalent PR for implementation reference : https://github.com/openfoodfacts/hunger-games/pull/172/files
- Integrate the new image reporting system so that we can use it in Smoothie gallery
### Part of
- Contribution

[2022-09-08 16:40] teolemon opened #552 "Add total contribution counts"
Add total contribution counts
  - [ ] https://world.openfoodfacts.org/editor/teolemon.json?fields=count
  - [ ] https://world.openfoodfacts.org/contributor/teolemon.json?fields=count
  - [ ] https://world.openfoodfacts.org/photographer/teolemon.json?fields=count

[2022-09-12 14:24] teolemon opened #553 "Check we are not sending credentials in the wrong conditions"
### What

- [ ] Check we are not sending credentials in the wrong conditions
  - [ ] is provoking https://github.com/openfoodfacts/smooth-app/issues/2793
  - [ ] is a privacy issue
- [ ] Check we're sending the right kind of authentication (eg Robotoff does not need the regular auth)
  - [ ] Probably provoking openfoodfacts/smooth-app#2954 where Robotoff considers the query a vote, meaning it did

[2022-09-12 16:35] #541 closed

[2022-09-12 21:24] teolemon commented on #553
anything that's READ should not have any auth
anything WRITE: user_id + password
Robotoff:

  static Future<Status> postInsightAnnotation(
    String? insightId,
    InsightAnnotation annotation, {
    User? user,
    String? deviceId,
    bool update = true,
    final QueryType? queryType,
  }) async {
    var insightUri = UriHelper.getRobotoffUri(
      path: 'api/v1/insights/annotate',
      qu

[2022-09-12 21:32] teolemon commented on #553
https://github.com/openfoodfacts/robotoff/blob/master/robotoff/app/api.py#L209

[2022-09-16 19:57] alexgarel commented on #552
Small proposal:

* https://world.openfoodfacts.org/editor/teolemon.json?fields=&page_size=1
* https://world.openfoodfacts.org/contributor/teolemon.json?fields=&page_size=1
* https://world.openfoodfacts.org/photographer/teolemon.json?fields=&page_size=1

is a better usage of the API :-)

[2022-09-17 14:49] monsieurtanuki commented on #552
That still doesn't solve the case where the user logged in with an email instead of a user name :(

[2022-09-17 15:31] M123-dev commented on #552
Fyk @monsieurtanuki just created [#7361](https://github.com/openfoodfacts/openfoodfacts-server/issues/7361)

[2022-09-17 15:56] teolemon opened #557 "Add support for last edit/image/entry dates"
### Description
Add support for last edit/image/entry dates
"entry_dates_tags":["2012-06-25","2012-06","2012"]
"last_check_dates_tags":["2018-11-08","2018-11","2018"],
"last_checked_t":1541687984,
"last_checker":"beniben",
"last_edit_dates_tags":["2022-08-21","2022-08","2022"],
"last_editor":"roboto-app",
"last_image_dates_tags":["2021-12-30","2021-12","2021"],
"last_image_t":1640852418,
"last_mod

[2022-09-18 04:39] yashsharma81 commented on #548
@teolemon i am working on this issue

[2022-09-18 11:16] anshpathania7 commented on #557
In this all fields are Nullable except `entry_date_tags` right?

[2022-09-18 11:22] M123-dev commented on #557
@anshpathania7 all of these fields are nullable as you can specifically request only certain fields

[2022-09-18 11:26] anshpathania7 commented on #557
@M123-dev Okay got it, also for the List of Dates, It's coming List of String from api, should it be converted into DateTime object?

[2022-09-18 11:30] M123-dev commented on #557
I think we can leave it in strings for now, as it's just a date but no time. Maybe @monsieurtanuki has another idea for that

[2022-09-18 11:59] monsieurtanuki commented on #557
For consistency, I would consider timestamps as `DateTime?`:
[code]

I would consider the rest as `String?` and `List<String>?`.

[2022-09-18 13:15] yashsharma81 commented on #548
@teolemon can you please provide the path for above ScreenShot if possible

[2022-09-18 14:06] M123-dev commented on #548
@yashsharma81, its here on the right side: https://pub.dev/packages/openfoodfacts

[2022-09-18 16:03] teolemon opened #559 "Robotoff test failing"
### Description
Robotoff test failing. Note we did a recent deployment
❌ test/api_getRobotoff_test.dart: OpenFoodAPIClient get robotoff insights get product insights PROD (failed)
  Expected: 'found'
    Actual: 'no_insights'
     Which: is different.
            Expected: found
              Actual: no_insight ...
                      ^
             Differ at offset 0

  package:test_api

[2022-09-18 16:31] monsieurtanuki opened #560 "Don't add user credentials systematically for POST requests"
I guess that's a combination of adding user credentials on POST for good reasons (#420), and switching most queries from GET to POST for good reasons (#414).
![Capture d’écran 2022-09-18 à 18 16 09](https://user-images.githubusercontent.com/11576431/190917184-f8659c03-6e5e-403a-b36c-b50ef3d3e1f9.png)

The solution would be to add an optional parameter to the `doPostRequest` method, stating if we w

[2022-09-18 16:36] teolemon commented on #560
- Related: https://github.com/openfoodfacts/openfoodfacts-dart/issues/553

[2022-09-18 17:07] monsieurtanuki commented on #560
Currently tap dancing with tests, but when I'm done I'll PR something like this:

Credentials for the following methods (and user name in the header):
*saveProduct
* postInsightAnnotation
* login
* _callProductImageCrop
* unselectProductImage

No credentials for the following methods (still, user name in the header):
* product search in general
* getIngredientSpellingCorrection
* extractIngredient

[2022-09-18 17:27] teolemon commented on #560
postInsightAnnotation >> We should not post credentials for this one, I don't quite remember the exact way to log in (cc @raphael0202 ) but we definitely do not require password (and it might provoke failures such as https://github.com/openfoodfacts/smooth-app/issues/2954)

[2022-09-18 17:56] monsieurtanuki commented on #560
ok

[2022-09-19 10:26] yashsharma81 commented on #548
@M123-dev can you please tell that how to contribute in dart packages?

[2022-09-22 16:24] teolemon commented on #559
❌ test/api_searchProducts_test.dart: OpenFoodAPIClient search products search with all sort-by options (failed)
  Expected: not [
              '3242272346050',
              '400[17](https://github.com/openfoodfacts/openfoodfacts-dart/actions/runs/3082401942/jobs/4982068051#step:7:25)24819905',
              '3270160717668',
              '4001724819806',
              '7613035648494',

[2022-09-22 16:40] monsieurtanuki commented on #559
@teolemon I do think it's a problem on the server side. Have they changed their criteria regarding sort options, or the default sort option?

[2022-09-28 16:45] teolemon commented on #507
😱 @M123-dev @monsieurtanuki bumping to P0

[2022-09-28 16:53] M123-dev commented on #507
Fixed already

[2022-09-28 17:10] M123-dev commented on #507
Wait no, we need more checking, I think we just fixed this in smoothie locally and not in here

[2022-09-29 09:27] monsieurtanuki commented on #560
The original issue was fixed by #561.
Feel free to create a new issue if needed, especially around the cookie/authentication for Robotoff.

[2022-09-29 09:27] #560 closed

[2022-09-29 09:35] monsieurtanuki opened #565 "Fix nutrient input with 100g/serving"
### Description

Create the following product fields:
* "nutrition_data" (either "on" or "")
* "nutrition_data_per" (either "100g" or "serving")

cf. https://github.com/openfoodfacts/smooth-app/issues/3046#issuecomment-1261992853

[2022-09-29 09:43] monsieurtanuki opened #566 "Add nutrient input for "product as prepared""
### Why - Problem description
Same as #565, but for "product as prepared", we need to add those product fields:
* "nutrition_data_prepared" (either "on" or "")
* "nutrition_data_prepared_per" (either "100g" or "serving")

In addition to those 2 fields, we need to create ALL the corresponding nutrient fields (e.g. `energy-kcal_prepared_100g` and `energy-kcal_prepared_serving`).
We can either do it

[2022-09-29 20:13] M123-dev opened #567 "Code generation"
### Description

A few days ago, I had a good idea about how we could simplify the way we have the project set up right now, mainly the problem with the Product class. We don't know what we can write back & we have to add every field not only there but also in some enums.

My solution would be code generation, in my head I thought of a big JSON file representing every field we could have, with som

[2022-09-29 20:27] teolemon commented on #567
We have just introduced the beginning of an OpenAPI doc in openfoodfacts-server, which should in theory allow auto-generation of SDKs

[2022-09-29 20:27] teolemon commented on #567
cc @alexgarel

[2022-10-03 10:55] #565 closed

[2022-10-03 11:05] monsieurtanuki commented on #567
@M123-dev Following our discussion on Saturday, I don't know how smart a JSON can be to describe the whole database.

If I focus on a subject that is currently quite interesting to me (`Nutriments`) because of pending dev (#565 #566), this is what I can say:
* as of today, it's a class with tons of fields, several by nutrient (e.g. for 100 grams, for serving, unit). No one wants to read that.
* cu

[2022-10-03 11:51] M123-dev commented on #567
I totally understand your concerns about that @monsieurtanuki all those points.

But for me it's also trying out something new, regardless of if it's worth at the end or not. If I have some free time I'm going to test around with it. At first for a copyWith so that we don't have a problem with depreciation. And if it turns out to be not good we can just scrape it.

[2022-10-03 11:53] monsieurtanuki commented on #567
Ok then!

[2022-10-03 15:15] stephanegigandet commented on #567
Why don't we just do that in fact? Keep a map with string identifiers for nutrients, instead of creating specific fields for each nutrient... We can just specify a list of string constants for those identifiers so that we avoid typos. and instead of having separate fields like saturatedFat etc. we can just have getter/setter function like getNutrientValue(SATURATED_FAT, PREPARED, PER_100G).

It ma

[2022-10-03 15:20] monsieurtanuki commented on #567
@stephanegigandet Actually I'm currently implementing that for #566:
* in Smoothie I was already cheating as I used the json instead of the class fields, for read and write
* in Smoothie we already use a different order depending on the country, and we use the tags (e.g. `'vitaminB2'` for that)

[2022-10-04 15:15] monsieurtanuki opened #571 "Upgrade to dart 2.17 (enum with fields and methods)"
### Why - Problem description
With 2.17, we could use `enum`s with fields and methods.

### What - Proposed solution
Upgrade to dart 2.17.

### Additional context
Not sure what the impact would be.

[2022-10-04 18:54] M123-dev commented on #571
Sounds good @monsieurtanuki I think the only impact is that everyone who uses this package has to upgrade too. So a breaking change. Maybe we should be more open with breaking changes and not put all of them on a never ending queue

[2022-10-05 05:29] monsieurtanuki commented on #571
Thank you @M123-dev for your answer!
I would call it a "minor" breaking change, as [dart 2.17 is already 6 month old](https://dart.dev/guides/whats-new#may-11-2022-217-release) and there's only a minor impact on the `pubspec.yaml`. (yes it's 2.17 we need, not 2.15)
Let's go then: I start with #566, then we can see how things work (potential rejections by developers using off-dart?), then we can ro

[2022-10-06 10:57] raphael0202 commented on #553
Linked to https://github.com/openfoodfacts/openfoodfacts-dart/issues/560
Robotoff question answers are still sent as vote. It's because we don't seem to send any authentication (https://github.com/openfoodfacts/openfoodfacts-dart/blob/a826add65c6b993f748b2874ef501a5efc900497/lib/openfoodfacts.dart#L618).

Robotoff supports HTTP Basic authentication, so we can authenticate the user this way:
send a

[2022-10-07 15:16] VaiTon opened #573 "Allow to query Robotoff without specifying InsightTypes"
### Description
While coding https://github.com/openfoodfacts/smooth-app/pull/3102, I had the necessity of getting 3 random questions from robotoff, without specifying the product nor the insight type.

The method `getRandomRobotoffQuestion` has a required parameter `types` that even when provided with an empty list is still added  to the product query, making robotoff return 0 questions.

#### Ex

[2022-10-08 15:50] teolemon opened #575 "❌ test/api_getRobotoff_test.dart: OpenFoodAPIClient get robotoff insights get random insight (failed)"
### Description
❌ test/api_getRobotoff_test.dart: OpenFoodAPIClient get robotoff insights get random insight (failed)
  Expected: not null
    Actual: <null>

  package:test_api                      expect
  test/api_getRobotoff_test.dart 111:7  main.<fn>.<fn>

[2022-10-08 15:52] teolemon commented on #500
ok, closing

[2022-10-08 17:55] monsieurtanuki commented on #575
Fixed in #570.

[2022-10-10 12:50] teolemon commented on #552
@M123-dev @monsieurtanuki @g123k : https://github.com/openfoodfacts/openfoodfacts-server/pull/7455

[2022-10-10 15:35] #573 closed, assigned to monsieurtanuki

[2022-10-11 16:21] monsieurtanuki opened #577 "More resilient data decoding (e.g. empty or non-existing fields)"
### Why - Problem description
In #576 the following problem was fixed:
* in the TEST version of the server some KP fields were not mandatory anymore, but were still expected in off-dart code
* as a consequence, some products could not be correctly interpreted - the data was downloaded but could not be decoded - a mandatory field was not in the JSON).

### What - Proposed solution
As the server cod

[2022-10-11 17:24] monsieurtanuki opened #578 "pub.dev -10pts because we don't have a license"
### Why - Problem description
As stated today in [pub.dev](https://pub.dev/packages/openfoodfacts/score):

No license was recognized.
Consider using an [OSI-approved license](https://opensource.org/licenses) in the LICENSE file to make it more accessible to the community.

![Capture d’écran 2022-10-11 à 19 22 35](https://user-images.githubusercontent.com/11576431/195158392-aa1c355f-f789-4fd1-b9a

[2022-10-11 17:35] teolemon commented on #578
- #548

[2022-10-11 17:48] monsieurtanuki opened #579 "New login method"
### Why - Problem description
cf. https://github.com/openfoodfacts/smooth-app/issues/3118#issuecomment-1274220392
Code evolution on the server side: now the login (`'/cgi/auth.pl'`) may return a JSON (an interesting one btw) if successful, instead of an empty body. Problem: we used to say "if the body is not empty, it's not good it's an error"

### What - Proposed solution
As @stephanegigandet sug

[2022-10-12 07:43] monsieurtanuki commented on #571
We now use dart 2.17 from #570.

[2022-10-12 14:40] mariusgabriel1 opened #581 "All ProductImages returned have null URL"
### Description
When searching a product the images returned have url null

### Expected behavior
 On the website the product has image so it also should be returned in the call

### Package information
[^1.25.0](openfoodfacts: ^1.25.0)

### Additional context
[code]

[2022-10-12 14:55] WildOrangutan opened #582 "ProductImage size non-nullable?"
### Why - Problem description
I'm looking at [ProductImage](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/model/ProductImage.dart) class and wondering if `size` really has to be nullable, since there is also `ImageSize.UNKNOWN`.

I'm not the most familiar with how things work in Dart, but maybe this could be avoided, to simplify `size` handling code.

### What - Proposed solu

[2022-10-13 08:03] monsieurtanuki commented on #582
@WildOrangutan You're probably right, but here we're in the library, not in the app: if we change something, that may impact other apps.
In addition to that, it's really not a priority.
My suggestion: add a `TODO` in the code.

[2022-10-13 09:34] #579 closed

[2022-10-13 09:38] monsieurtanuki commented on #581
Hi @mariusgabriel1!
Actually we rather use `ImageHelper.buildUrl(String barcode, ProductImage image)`.
Tell me if it works, and then we'll think about how to make it more developer-friendly.

[2022-10-13 10:14] mariusgabriel1 commented on #581
ok that works, thank you!

[2022-10-13 10:14] #581 closed

[2022-10-13 11:53] g123k opened #584 "Nutrient: support xx_modifier"
Hi everyone,

On the website, we can input a modifier (eg: `>` or `<`) and it's available through a field called `modifier`.
Here is an example with the salt:
`"nutriments":{"fat":1,"fat_100g":1,"fat_modifier":">","fat_unit":"g","fat_value":1}`

We should support that value on the Dart SDK.
And will also fix https://github.com/openfoodfacts/smooth-app/issues/3135

[2022-10-13 13:17] monsieurtanuki commented on #584
@g123k I used to see those modifiers, but they are not in the website, are they?
![Capture d’écran 2022-10-13 à 15 15 40](https://user-images.githubusercontent.com/11576431/195606732-f394237c-9716-4c4e-98ca-1981a76d194f.png)

[2022-10-13 13:20] g123k commented on #584
On the website, just change the value to ">892" and it will appear.
By default, it's just like if it's an `=892`

[2022-10-13 13:23] monsieurtanuki commented on #584
Thank you @g123k!
So you mean that the full list of modifiers is as following, right?
* `<`
* `>`
* `~`
* `=` (default value, implicit when modifier is null)

[2022-10-13 13:29] g123k commented on #584
@stephanegigandet or @alexgarel Could you confirm this, please?

[2022-10-13 16:44] stephanegigandet commented on #584
There's no "=" value.

Also, not a modifier, but if you use "-" as the value, it means that the field is not specified on the packaging. (useful for fibers in particular).

[2022-10-13 16:49] stephanegigandet commented on #584
e.g. if you input:

"-" for fibers
"~0" for proteins
"<10" for sugars

you will get this:

[code]

[2022-10-16 12:26] teolemon opened #587 "Folksonomy tests were 500"
### Description
❌ test/api_folksonomy_test.dart: OpenFoodAPIClient Folksonomy getProductStats - all (failed)
❌ test/api_folksonomy_test.dart: OpenFoodAPIClient Folksonomy getProductStats - found (failed)
❌ test/api_folksonomy_test.dart: OpenFoodAPIClient Folksonomy getProductStats - not found (failed)
❌ test/api_folksonomy_test.dart: OpenFoodAPIClient Folksonomy getProducts - found key (failed)
❌

[2022-10-16 15:16] M123-dev commented on #587
Looks rather like the server is down, if even the ping fails

[2022-10-16 15:27] monsieurtanuki opened #588 "Cache (?) bug with the multiple products syntax"
### Description
We don't have the same result when looking for 1 barcode or for a list of 1 barcode.
The problem seems to be on the dart side: if we run the same query on a browser we have correct results.
My hunch is that it is a problem of cache.

### Expected behavior
How to reproduce it:
* go to the TEST env
* select a barcode
* run the `OpenFoodAPIClient.getProduct` query on it, and retrieve

[2022-10-16 15:29] monsieurtanuki commented on #587
@M123-dev Fair enough, but the `hello` passes
[code]

[2022-10-17 12:15] teolemon commented on #587
The server was rebooted by @charlesnepote and it now works.
Unsure of the ground cause though

[2022-10-17 13:08] stephanegigandet opened #589 "Request for feedback: new product WRITE API with structured JSON body and new packagings structure"
We are designing a new API for packagings that we will be using in particular in the OFF Flutter app.

The corresponding issue on the server repo is https://github.com/openfoodfacts/openfoodfacts-server/issues/7564

We are designing a new API so that clients can specify the different packaging components of a product. The packagings will be in a complex structure, so we are departing from the exis

[2022-10-17 15:20] #587 closed

[2022-10-18 16:39] alexgarel opened #592 "SDK expect a text_type in text_element while it is "type""
### Description
KnowledgePanelTextElement type attribute [is mapped to text_type json field](https://github.com/openfoodfacts/openfoodfacts-dart/blob/master/lib/model/KnowledgePanelElement.dart#L44).

### Expected behavior

It should be "type".

### Additional context
The result returned by product opener is not always consistent, and that may be the source of the problem.
See also https://github.

[2022-10-19 09:38] #592 closed

[2022-10-19 09:40] monsieurtanuki commented on #559
Looks like it's solved now.

[2022-10-19 09:40] #559 closed

[2022-10-23 10:47] teolemon opened #596 "Add support for the Origins taxonomy"
### What
- [ ] Add support for the Origins taxonomy
  - [x] We need support for autocomplete for the origin field: https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=origins&term=fr&lc=en
  - [ ] We need support for the Partial taxonomy API

### Why
- https://github.com/openfoodfacts/smooth-app/issues/3149

[2022-10-23 15:57] monsieurtanuki commented on #596
Autocomplete for ORIGINS is being implemented in #597.
@teolemon Not sure what "Partial taxonomy API" means.

[2022-10-24 19:05] M123-dev opened #598 "Remove product's environment impact levels and infocard"
### Description
We should remove
[code]

They were experimental features which are now removed

https://github.com/openfoodfacts/openfoodfacts-server/issues/7592

[2022-10-25 10:48] #598 closed

[2022-10-25 11:18] monsieurtanuki commented on #553
@M123-dev I don't know how exactly they are related but since #590 is merged what is the next step here?

[2022-10-25 11:27] monsieurtanuki commented on #481
* "origins" added in #509.
* "countries" were already in off-dart but were added later to Smoothie (in the default list of fields).

[2022-10-25 11:27] #481 closed

[2022-10-25 11:42] monsieurtanuki opened #602 "Add the "website" product field"
### Why - Problem description
There's a "website" field in product on the server side, but we don't use it in off-dart.

### What - Proposed solution
Just use it!

### Additional context
* https://github.com/openfoodfacts/smooth-app/issues/2738
* https://github.com/openfoodfacts/smooth-app/issues/3207

[2022-10-25 13:22] M123-dev commented on #553
This should be mostly done, the only open question from #590 was if we should also send credentials to read queries

[2022-10-25 13:28] #507 closed

[2022-10-25 13:29] #602 closed

[2022-10-25 13:32] raphael0202 commented on #553
No, credentials shouldn't be sent to read queries

[2022-10-25 13:33] M123-dev commented on #553
Perfect, then we are done here and after https://github.com/openfoodfacts/smooth-app/pull/3211 also with https://github.com/openfoodfacts/smooth-app/issues/2954

[2022-10-25 13:33] #553 closed

[2022-11-05 17:34] monsieurtanuki commented on #486
Let's just say that barcodes are always supposed to be not null.

[2022-11-05 17:34] #486 closed

[2022-11-06 09:37] teolemon commented on #596
https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=origins&include_root_entries=1&include_children=0&lc=fr&cc=fr

[2022-11-06 09:43] teolemon opened #605 "Ensure we support packaging_shapes and packaging_materials taxonomies"
### What

- Ensure we support packaging_shapes and packaging_materials taxonomies
- https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=packaging_shapes&include_root_entries=1&include_children=0&lc=fr&cc=fr
- https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=packaging_shapes&term=a&lc=en
-  https://world.openfoodfacts.org/api/v2/taxonomy?tagtype=packaging_materials&include_root_entries=1&

[2022-11-06 09:45] teolemon commented on #589
https://github.com/openfoodfacts/openfoodfacts-server/pull/7614

[2022-11-06 18:29] monsieurtanuki opened #609 "Failed test "OpenFoodAPIClient get products get product Coca Cola Light""
### Description
[code]

[2022-11-07 17:01] #596 closed

[2022-11-08 08:21] teolemon opened #614 "Recycling taxonomies"
### Why
I forgot support for the recycling taxonomy
https://world.openfoodfacts.org/cgi/suggest.pl?tagtype=packaging_recycling&term=a&lc=fr

[2022-11-08 18:08] stephanegigandet opened #617 "Add support for API v3 Product WRITE requests to add / edit packaging components"
The new API v3 to add/edit packaging components is almost finalized and implemented (but deployed only on the .dev server currently).

Server-side PR with the documentation and implementation: https://github.com/openfoodfacts/openfoodfacts-server/pull/7614

There could still be minor changes (in particular, it is likely that we will use PATCH requests instead of POST requests). I will update this

[2022-11-08 18:10] stephanegigandet commented on #589
Implementation of the new API is almost done, so closing this in favor of #617

[2022-11-08 18:10] #589 closed

[2022-11-08 18:34] teolemon commented on #617
curl -X POST https://off:off@world.openfoodfacts.dev/api/v3/product/12345678 -H "Content-Type: application/json" -d '{"product": { "packagings_add": [{"shape": "bottle"}]}, "fields": "updated"}'
{"errors":[],"product":{"packagings":[{"shape":"en:bottle"}]},"warnings":[{"field":{"default_value":"en","id":"tags_lc"},"impact":{"id":"warning"},"message":{"id":"missing_tags_lc"}},{"field":{"id":"number